<?php TPL::output('global/header-less.tpl.htm'); ?>

<div class="u-backgroundWhite">
  <div class="container u-maxWidth1040">
    <div class="hero hero--standalone hero--alignLeft u-paddingTop40 u-paddingBottom20"><h1 class="hero-title">Follow your interests</h1></div>
  </div>
</div>

<div class="container u-maxWidth1040">
  <div class="row u-paddingTop20">

    <div class="col u-size8of12 u-xs-size12of12 u-xs-padding0 followedStreamItems">

      <div class="streamItem-card streamItem-card--catalogPreview cardChromeless">
        <div class="streamItem-cardInner streamItem-cardInner--catalogPreview">
          <div class="catalogPreview u-marginBottom0 catalogPreview--card">

            <div class="catalogPreview-header u-block u-paddingLeft20"><div class="catalogPreview-name">全部话题</div></div>

            <ul>
              <?php if ($this->topics_list) { ?>
                <?php foreach ($this->topics_list AS $key => $val) { ?>
                  <li>
                    <div class="u-table u-sizeFull u-positionRelative u-padding20 u-borderBox u-borderBottomLightest">
                      <div class="u-tableCell u-verticalAlignTop"></div>
                      <div class="u-tableCell u-verticalAlignMiddle">
                        <a class="link u-textColorDarker u-fontSizeSmall u-fontWeightBold u-baseColor--link" href="topic/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['topic_id']; ?>"><?php echo $val['topic_title']; ?></a>
                        <a class="link link--darken u-accentColor--textDarken u-block u-fontSizeSmaller u-baseColor--link" href="topic/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['topic_id']; ?>"><?php _e('%s 个关注', $val['focus_count']); ?></a>
                      </div>
                      <a class="button button--primary u-noUserSelect button--withChrome u-accentColor--buttonNormal u-floatRight" href="topic/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['topic_id']; ?>"><span class="button-label  button-defaultState js-buttonLabel">关注</span></a>
                    </div>
                  </li>
                <?php } ?>
              <?php } ?>
            </ul>

          </div>
        </div>
      </div>



    </div>

    <aside class="col u-size4of12 u-xs-hide u-paddingBottom20"></aside>

  </div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>
