<?php TPL::output('global/header_meta.tpl.htm'); ?>



<div class="site-main surface-container">
	<div class="surface">
		<div class="screenContent surface-content">
			<div class="loginPage">

			</div>
			<div class="overlay overlay--dark">
				<div class="overlay-dialog overlay-dialog--signin">
					<h3 class="loginPage-title">
						<img src="http://7xp0k6.com1.z0.glb.clouddn.com/login-logo.png" class="loginPage-logo" alt="login-logo">
					</h3>
					<div class="overlay-content">Let's talk about game.</div>

					<form id="login_form" method="post" onsubmit="return false" action="account/ajax/login_process/">
						<input type="hidden" name="return_url" value="<?php echo $this->return_url; ?>" />
						<div class="overlay-content">
							<div class="u-paddingTop10">邮箱 / 用户名</div>
							<div class="inputGroup u-marginBottom0">
								<input type="text" id="aw-login-user-name" name="user_name" class="textInput textInput--large u-marginBottom0 textInput--underlined textInput--signin js-email" placeholder="yourname@example.com" value="">
							</div>
							<div class="u-paddingTop10">密码</div>
							<div class="inputGroup u-marginBottom0">
								<input type="password" id="aw-login-user-password" name="password" class="textInput textInput--large u-marginBottom0 textInput--underlined textInput--signin js-email" placeholder="********">
							</div>
						</div>
						<div class="overlay-content collapse error_message"></div>
						<div class="overlay-content">
							<div class="u-clearfix u-paddingTop10">
								<div class="buttonSet buttonSet--withLabels u-floatLeft">
									<div class="buttonSet-inner">
										<a href="javascript:;"  onclick="AWS.ajax_post($('#login_form'), AWS.ajax_processer, 'error_message');" id="login_submit" class="button button--primary u-noUserSelect button--withChrome u-accentColor--buttonNormal button--follow">登录</a>
									</div>
								</div>
								<div class="buttonSet u-floatRight">
									<div class="buttonSet-inner">
										<a class="button button--chromeless" href="http://r2vg.com">还没有账号？</a>
									</div>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/login.js"></script>

<?php TPL::output('global/footer.tpl.htm'); ?>
