<?php TPL::output('global/header_meta.tpl.htm'); ?>

<div class="container--jump">
  <div class="form-signin">
    <div class="form-signin-heading"></div>
    <div class="form-signin-content">Let's talk about game.</div>
    <form id="login_form" method="post" onsubmit="return false" action="https://r2vg.com/account/ajax/login_process/" class="u-paddingBottom10">
      <input type="hidden" name="return_url" value="https://r2vg.com/">
      <div class="form-signin-content">
        <div class="u-paddingTop10">邮箱 / 用户名</div>
        <div class="inputGroup u-marginBottom0">
            <input type="text" id="aw-login-user-name" name="user_name" class="textInput textInput--large u-marginBottom0 textInput--underlined textInput--signin js-email" placeholder="yourname@example.com" value="" data-com.agilebits.onepassword.user-edited="yes">
        </div>
        <div class="u-paddingTop10">密码</div>
        <div class="inputGroup u-marginBottom0">
            <input type="password" id="aw-login-user-password" name="password" class="textInput textInput--large u-marginBottom0 textInput--underlined textInput--signin js-email" placeholder="********" data-com.agilebits.onepassword.user-edited="yes">
        </div>
      </div>
      <div class="form-signin-content collapse error_message"></div>
      <div class="form-signin-content">
        <div class="u-clearfix u-paddingTop10">
            <div class="buttonSet buttonSet--withLabels u-floatLeft">
                <div class="buttonSet-inner">
                    <a href="javascript:;" onclick="AWS.ajax_post($('#login_form'), AWS.ajax_processer, 'error_message');" id="login_submit" class="button button--primary u-noUserSelect button--withChrome u-accentColor--buttonNormal button--follow">登录</a>
                </div>
            </div>
            <div class="buttonSet u-floatRight">
                <div class="buttonSet-inner">
                    <a class="button button--chromeless" href="account/register/">还没有账号？</a>
                </div>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="page-view">
    <div class="game-slider" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <div class="relative">
            <div class="project"></div>
            <div class="project"></div>
            <div class="project"></div>
            <div class="project"></div>
            <div class="project"></div>
            <div class="project"></div>
        </div>
        <div class="bullets">
            <div class="arrow previous">
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="208.3 352 4.2 6.4" style="enable-background:new 208.3 352 4.2 6.4;" xml:space="preserve"><polygon class="st0" points="212.1,357.3 211.5,358 208.7,355.1 211.5,352.3 212.1,353 209.9,355.1"></polygon></svg>
            </div>
            <div class="bullet" data-text="战地1">
                <span class="relative">
				          <span class="knob"></span>
                </span>
            </div>
            <div class="bullet" data-text="古墓丽影：崛起">
                <span class="relative">
					        <span class="knob"></span>
                </span>
            </div>
            <div class="bullet" data-text="最后生还者">
                <span class="relative">
					        <span class="knob"></span>
                </span>
            </div>
            <div class="bullet" data-text="地平线：黎明时分">
                <span class="relative">
					        <span class="knob"></span>
                </span>
            </div>
            <div class="bullet" data-text="侠盗猎车手V">
                <span class="relative">
					        <span class="knob"></span>
                </span>
            </div>
            <div class="bullet" data-text="生化奇兵：无限">
                <span class="relative">
					        <span class="knob"></span>
                </span>
            </div>
            <div class="arrow next">
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-355.4 434.9 3.5 5.8" style="enable-background:new -355.4 434.9 3.5 5.8;" xml:space="preserve"><polygon points="-355.3,435.7 -354.7,435 -351.9,437.9 -354.7,440.7 -355.3,440 -353.1,437.9 "></polygon></svg>
            </div>
        </div>
        <div class="infos">
            <ul id="infosKey">
                <li>《战地1》</li>
                <li>PS4|Xbox|PC</li>
                <li>第一人称射击</li>
            </ul>
            <a id="link" href="https://r2vg.com" target="_blank">查看更多内容</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/login.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/lib-portfolio.desktop.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/app-portfolio.desktop.js"></script>

<?php TPL::output('global/footer.tpl.htm'); ?>
