<?php TPL::output('global/header_meta.tpl.htm'); ?>

<div class="container--jump">
  <div class="form-register">
    <div class="form-register-heading"></div>
    <div class="form-register-content">注册成为一只猫</div>
    <form action="account/ajax/register_process/" method="post" id="register_form" class="u-paddingBottom10">
      <div class="form-register-content">
        <div class="u-paddingTop10">用户名</div>
        <div class="inputGroup u-marginBottom0">
          <input class="textInput textInput--large u-marginBottom0 textInput--underlined textInput--signin" type="text" name="user_name" placeholder="<?php _e('请输入一个 2-14 位的用户名');?>" tips="" errortips="<?php _e('用户名长度不符合');?>" value="" />
        </div>
        <div class="u-paddingTop10">电子邮箱</div>
        <div class="inputGroup u-marginBottom0">
          <input class="textInput textInput--large u-marginBottom0 textInput--underlined textInput--signin" type="text" placeholder="<?php _e('请输入你常用的电子邮箱作为你的账号'); ?>" name="email" tips="" value="<?php echo htmlspecialchars($_GET['email']); ?>" errortips="<?php _e('邮箱格式不正确'); ?>" />
        </div>
        <div class="u-paddingTop10">密码</div>
        <div class="inputGroup u-marginBottom0">
          <input class="textInput textInput--large u-marginBottom0 textInput--underlined textInput--signin" type="password" name="password" placeholder="<?php _e('请输入 6-16 个字符,区分大小写'); ?>" tips=""/>
        </div>
        <?php if (get_setting('register_seccode') == 'Y') { ?>
          <div class="u-paddingTop10">验证码</div>
          <div class="inputGroup u-marginBottom0">
            <img id="captcha" onclick="this.src = G_BASE_URL + '/account/captcha/' + Math.floor(Math.random() * 10000);" src="" style="position: absolute;right: 0;">
            <input type="text" class="textInput textInput--large u-marginBottom0 textInput--underlined textInput--signin" name="seccode_verify" />
          </div>
        <?php } ?>
        <div class="u-paddingTop10"></div>
        <label><input type="checkbox" checked="checked" value="agree" name="agreement_chk" /> <?php _e('我同意'); ?></label> <a href="javascript:;" class="aw-agreement-btn"><?php _e('用户协议'); ?></a>
      </div>
      <div class="form-register-content">
        <div class="u-clearfix u-paddingTop10">
          <div class="buttonSet buttonSet--withLabels u-floatLeft">
            <div class="buttonSet-inner">
              <button class="button button--primary u-noUserSelect button--withChrome u-accentColor--buttonNormal button--follow" onclick="AWS.ajax_post($('#register_form'), AWS.ajax_processer, 'error_message'); return false;">注册</button>
            </div>
          </div>
          <div class="buttonSet u-floatRight">
            <div class="buttonSet-inner">
              <a class="button button--chromeless" href="account/login/">已有账号？</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="page-view">
    <div class="game-slider" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <div class="relative">
            <div class="project"></div>
            <div class="project"></div>
            <div class="project"></div>
            <div class="project"></div>
            <div class="project"></div>
            <div class="project"></div>
        </div>
        <div class="bullets">
            <div class="arrow previous">
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="208.3 352 4.2 6.4" style="enable-background:new 208.3 352 4.2 6.4;" xml:space="preserve"><polygon class="st0" points="212.1,357.3 211.5,358 208.7,355.1 211.5,352.3 212.1,353 209.9,355.1"></polygon></svg>
            </div>
            <div class="bullet" data-text="战地1">
                <span class="relative">
				          <span class="knob"></span>
                </span>
            </div>
            <div class="bullet" data-text="古墓丽影：崛起">
                <span class="relative">
					        <span class="knob"></span>
                </span>
            </div>
            <div class="bullet" data-text="最后生还者">
                <span class="relative">
					        <span class="knob"></span>
                </span>
            </div>
            <div class="bullet" data-text="地平线：黎明时分">
                <span class="relative">
					        <span class="knob"></span>
                </span>
            </div>
            <div class="bullet" data-text="侠盗猎车手V">
                <span class="relative">
					        <span class="knob"></span>
                </span>
            </div>
            <div class="bullet" data-text="生化奇兵：无限">
                <span class="relative">
					        <span class="knob"></span>
                </span>
            </div>
            <div class="arrow next">
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-355.4 434.9 3.5 5.8" style="enable-background:new -355.4 434.9 3.5 5.8;" xml:space="preserve"><polygon points="-355.3,435.7 -354.7,435 -351.9,437.9 -354.7,440.7 -355.3,440 -353.1,437.9 "></polygon></svg>
            </div>
        </div>
        <div class="infos">
            <ul id="infosKey">
                <li>《战地1》</li>
                <li>PS4|Xbox|PC</li>
                <li>第一人称射击</li>
            </ul>
            <a id="link" href="https://r2vg.com" target="_blank">查看更多内容</a>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function ()
{
    $.get(G_BASE_URL + '/account/ajax/register_agreement/', function (result) { $('#register_agreement').html(result.err); }, 'json');

    $('.aw-agreement-btn').click(function()
    {
        if ($('.aw-register-agreement').is(':visible'))
        {
            $('.aw-register-agreement').hide();
        }
        else
        {
            $('.aw-register-agreement').show();
        }
    });

    $('.more-information-btn').click(function()
    {
        $('.more-information').fadeIn();
        $(this).parent().hide();
    });

    verify_register_form('#register_form');

    /* 注册页面验证 */
    function verify_register_form(element)
    {
        $(element).find('[type=text], [type=password]').on({
            focus : function()
            {
                if (typeof $(this).attr('tips') != 'undefined' && $(this).attr('tips') != '')
                {
                    $(this).parent().append('<span class="aw-reg-tips">' + $(this).attr('tips') + '</span>');
                }
            },
            blur : function()
            {
                if ($(this).attr('tips') != '')
                {
                    switch ($(this).attr('name'))
                    {
                        case 'user_name' :
                            var _this = $(this);
                            $(this).parent().find('.aw-reg-tips').detach();
                            if ($(this).val().length >= 0 && $(this).val().length < 2)
                            {
                                $(this).parent().find('.aw-reg-tips').detach();
                                $(this).parent().append('<span class="aw-reg-tips aw-reg-err"><i class="aw-icon i-err"></i>' + $(this).attr('errortips') + '</span>');
                                return;
                            }
                            if ($(this).val().length > 17)
                            {
                                $(this).parent().find('.aw-reg-tips').detach();
                                $(this).parent().append('<span class="aw-reg-tips aw-reg-err"><i class="aw-icon i-err"></i>' + $(this).attr('errortips') + '</span>');
                                return;
                            }
                            else
                            {
                                $.post(G_BASE_URL + '/account/ajax/check_username/',
                                    {
                                        username: $(this).val()
                                    }, function (result)
                                {
                                    if (result.errno == -1)
                                    {
                                        _this.parent().find('.aw-reg-tips').detach();
                                        _this.parent().append('<span class="aw-reg-tips aw-reg-err"><i class="aw-icon i-err"></i>' + result.err + '</span>');
                                    }
                                    else
                                    {
                                        _this.parent().find('.aw-reg-tips').detach();
                                        _this.parent().append('<span class="aw-reg-tips aw-reg-right"><i class="aw-icon i-followed"></i></span>');
                                    }
                                }, 'json');
                            }
                            return;

                        case 'email' :
                            $(this).parent().find('.aw-reg-tips').detach();
                            var emailreg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
                            if (!emailreg.test($(this).val()))
                            {
                                $(this).parent().find('.aw-reg-tips').detach();
                                $(this).parent().append('<span class="aw-reg-tips aw-reg-err"><i class="aw-icon i-err"></i>' + $(this).attr('errortips') + '</span>');
                                return;
                            }
                            else
                            {
                                $(this).parent().find('.aw-reg-tips').detach();
                                $(this).parent().append('<span class="aw-reg-tips aw-reg-right"><i class="aw-icon i-followed"></i></span>');
                            }
                            return;

                        case 'password' :
                            $(this).parent().find('.aw-reg-tips').detach();
                            if ($(this).val().length >= 0 && $(this).val().length < 6)
                            {
                                $(this).parent().find('.aw-reg-tips').detach();
                                $(this).parent().append('<span class="aw-reg-tips aw-reg-err"><i class="aw-icon i-err"></i>' + $(this).attr('errortips') + '</span>');
                                return;
                            }
                            if ($(this).val().length > 17)
                            {
                                $(this).parent().find('.aw-reg-tips').detach();
                                $(this).parent().append('<span class="aw-reg-tips aw-reg-err"><i class="aw-icon i-err"></i>' + $(this).attr('errortips') + '</span>');
                                return;
                            }
                            else
                            {
                                $(this).parent().find('.aw-reg-tips').detach();
                                $(this).parent().append('<span class="aw-reg-tips aw-reg-right"><i class="aw-icon i-followed"></i></span>');
                            }
                            return;

                    }
                }

            }
        });
    }

    $('.select_area').LocationSelect({
        labels: ["<?php _e('请选择省份或直辖市'); ?>", "<?php _e('请选择城市'); ?>"],
        elements: document.getElementsByTagName("select"),
        detector: function () {
            this.select(["<?php echo $this->user_info['province']; ?>", "<?php echo $this->user_info['city']; ?>"]);
        },
        dataUrl: G_BASE_URL.replace('/?', '') + '/static/js/areas.js'
    });
});
</script>
<script src="<?php echo G_STATIC_URL; ?>/js/lib-portfolio.desktop.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/app-portfolio.desktop.js"></script>

<?php TPL::output('global/footer.tpl.htm'); ?>
