<?php TPL::output('global/header_meta.tpl.htm'); ?>

<div class="overlay--jump overlay--promo"></div>

<div class="container--jump">
  <div class="form-register">
		<div class="form-register-heading"></div>
		<div class="form-register-content">感谢您的注册, 请点击继续激活你的账户</div>
		<form action="account/ajax/valid_email_active/" method="post" id="active_form">
			<input type="hidden" name="active_code" value="<?php echo $this->active_code; ?>" />
			<div class="form-register-content">
				<div class="u-clearfix u-paddingTop10">
					<button class="button button--primary u-noUserSelect button--withChrome u-accentColor--buttonNormal button--follow" onclick="AWS.ajax_post($('#active_form')); return false;"><?php _e('下一步'); ?></button>
				</div>
			</div>
		</form>
		<div class="u-paddingBottom10"></div>
	</div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>
