/* 注册页面 */

html, body {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

body {
    padding-top: 40px;
    background-image: url("https://ooo.0o0.ooo/2016/10/02/57f08e7f8703a.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 414px) {
    body {
        padding-top: 0;
    }
}

.form-register {
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .44);
    padding: 0;
    max-width: 400px;
}

@media (max-width: 414px) {
    .form-register {
        width: 100%;
        max-width: 100%;
        height: 100vh;
        border-radius: 0;
    }
}

.form-register-heading {
    width: 400px;
    height: 200px;
    margin-bottom: 0;
    background-image: url('https://ooo.0o0.ooo/2016/10/02/57f08f9e80b20.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .form-register-heading {
        background-image: url('https://ooo.0o0.ooo/2016/10/02/57f08fa03a346.png');
        background-size: 400px 200px;
    }
}

.form-register-content {
    padding: 0 32px;
    margin: 24px 0;
    font-size: 16px;
    text-align: left;
    color: rgba(0, 0, 0, .6);
}
