<?php TPL::output('global/header_meta.tpl.htm'); ?>

<body>

	<div class="R2-Top R2-clearfix">
		<div class="R2-Top-inner R2-marginAuto R2-maxWidth1000 R2-paddingLeft20 R2-paddingRight20">
			<div class="R2-Top-block R2-Top-blockLeft R2-floatLeft R2-height65 R2-xs-height56">
				<a href="/" class="R2-logo"><img src="http://7xp0k6.com1.z0.glb.clouddn.com/Logo.png" alt="R2VG Logo"></a>
			</div>
			<div class="R2-Top-block R2-Top-blockRight R2-floatRight R2-height65 R2-xs-height56">
				<div class="R2-buttonSet">
					<a class="R2-button R2-button--chromeless is-inSiteNavBar R2-sm-hide R2-marginRight15 R2-lineHeight30 R2-height32" href="publish/">提问</a>
					<?php if ($this->user_id) { ?>
						<a href="people/<?php echo $this->user_info['url_token']; ?>" class="R2-button R2-button--chromeless is-inSiteNavBar">
							<div class="R2-avatar">
								<img src="<?php echo get_avatar_url($this->user_info['uid'], 'max'); ?>" class="R2-avatar-image R2-avatar-image--icon" alt="<?php echo $this->user_info['user_name']; ?>">
							</div>
						</a>
					<?php } else { ?>
					<a class="R2-button R2-button--primary R2-button--chromeless is-inSiteNavBar R2-marginRight15 R2-lineHeight30 R2-height32" href="account/login/">登录 / 注册</a>
					<?php } ?>
				</div>
			</div>
		</div>
		<div class="R2-Top-inner R2-marginAuto R2-maxWidth1000 R2-paddingLeft20 R2-paddingRight20">
			<div class="R2-Top-block R2-Top-blockBelow R2-height50 R2-xs-height39">
				<ul class="browsableStreamTabs R2-borderTopLightest">
					<li class="browsableStreamTabs-item">
						<a class="R2-link <?php if (!$_GET['app'] OR $_GET['app'] == 'explore') { ?>R2-link--darker<?php } ?> R2-link--darken" href="<?php echo base_url(); ?>">首页</a>
					</li>
					<?php if ($this->user_id) { ?>
					<li class="browsableStreamTabs-item">
						<a class="R2-link <?php if (!$_GET['app'] OR $_GET['app'] == 'home') { ?>R2-link--darker<?php } ?> R2-link--darken" href="home/">For you</a>
					</li>
					<?php } ?>
					<li class="browsableStreamTabs-item">
						<a class="R2-link <?php if (!$_GET['app'] OR $_GET['app'] == 'question') { ?>R2-link--darker<?php } ?> R2-link--darken" href="question/">问题</a>
					</li>
					<li class="browsableStreamTabs-item">
						<a class="R2-link <?php if (!$_GET['app'] OR $_GET['app'] == 'article') { ?>R2-link--darker<?php } ?> R2-link--darken" href="article/">文章</a>
					</li>
					<li class="browsableStreamTabs-item">
						<a class="R2-link <?php if (!$_GET['app'] OR $_GET['app'] == 'topic') { ?>R2-link--darker<?php } ?> R2-link--darken" href="topic/">话题</a>
					</li>
					<?php if ($this->user_id) { ?>
					<li class="browsableStreamTabs-item">
						<a class="R2-link <?php if (!$_GET['app'] OR $_GET['app'] == 'inbox') { ?>R2-link--darker<?php } ?> R2-link--darken" href="inbox/">私信</a>
					</li>
					<li class="browsableStreamTabs-item">
						<a class="R2-link R2-link--darken" href="account/setting/profile/">设置</a>
					</li>
					  <?php if ($this->user_info['permission']['is_administortar'] OR $this->user_info['permission']['is_moderator']) { ?>
							<li class="browsableStreamTabs-item">
								<a class="R2-link R2-link--darken" href="admin/">管理</a>
							</li>
						<?php } ?>
					<?php } ?>
				</ul>
			</div>
		</div>
	</div>

	<?php if ($this->user_id AND $this->user_info['email'] AND !$this->user_info['valid_email'] AND get_setting('register_valid_type') != 'N') { ?>
	<div class="aw-email-verify">
		<div class="container text-center">
			<a onclick="AWS.ajax_request(G_BASE_URL + '/account/ajax/send_valid_mail/');"><?php _e('你的邮箱 %s 还未验证, 点击这里重新发送验证邮件', $this->user_info['email']); ?></a>
		</div>
	</div>
	<?php } ?>
