<?php TPL::output('global/header_meta.tpl.htm'); ?>

<body>

	<div class="metabar u-clearfix js-metabar metabar--postArticle is-maximized">
		<div class="metabar-inner u-marginAuto u-maxWidth1000 u-paddingLeft20 u-paddingRight20 js-metabarMiddle">
			<div class="metabar-block metabar-block--left u-floatLeft u-height65 u-xs-height56">
				<a href="/" class="siteNav-logo">
					<img src="http://7xp0k6.com1.z0.glb.clouddn.com/Logo.png" alt="R2VG Logo" style="width: 45px;height: 45px;">
				</a>
			</div>
			<div class="metabar-block metabar-block--right u-floatRight u-height65 u-xs-height56">
				<div class="buttonSet buttonSet--wide"></div>
				<div class="buttonSet">
					<label class="inputGroup u-sm-hide metabar-predictiveSearch u-baseColor--placeholderNormal u-lineHeight30 u-height32 u-verticalAlignMiddle" title="Search Medium">
						<span class="svgIcon svgIcon--search svgIcon--25px u-baseColor--iconNormal"><svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
						<input class="js-predictiveSearchInput textInput textInput--rounded textInput--darkText u-baseColor--textNormal textInput--transparent u-lineHeight30 u-height32 u-verticalAlignMiddle" type="search" placeholder="搜索" required="true">
					</label>
					<a class="button button--small button--chromeless u-sm-show is-inSiteNavBar u-baseColor--buttonNormal button--withIcon button--withSvgIcon" href="http://r2vg.com/search" title="Search" aria-label="Search">
					</a>
					<button class="button button--chromeless u-baseColor--buttonNormal is-inSiteNavBar js-userActions" aria-haspopup="true" data-action="open-userActions">
						<div class="avatar"><img src="http://43.225.46.148/uploads/avatar/000/00/00/01_avatar_max.jpg" class="avatar-image avatar-image--icon" alt="Yellow"></div>
					</button>
				</div>
			</div>
		</div>
	</div>
