<footer class="container u-maxWidth740 u-marginTop30 u-borderTopLightest80">
	<div class="u-paddingTop10 u-paddingBottom25 ">
		<a class="link u-textColorNormal u-fontSizeMicro u-marginRight10 u-baseColor--link" href="#">帮助中心</a>
		<a class="link u-textColorNormal u-fontSizeMicro u-marginRight10 u-baseColor--link" href="#">博客</a>
		<a class="link u-textColorNormal u-fontSizeMicro u-marginRight10 u-baseColor--link" href="#">隐私</a>
		<a class="link u-textColorNormal u-fontSizeMicro u-baseColor--link" href="#">关于</a>
	</div>
</footer>
