<div class="streamItem streamItem--catalogPreview js-streamItem">
	<div class="streamItem-card streamItem-card--catalogPreview">
		<div class="streamItem-cardInner streamItem-cardInner--catalogPreview">
			<div class="catalogPreview catalogPreview--borderless">

				<div class="catalogPreview-header">
					<a href="/topic/channel-hot">
						<div class="catalogPreview-name">热门标签</div>
						<div class="catalogPreview-description"></div>
					</a>
				</div>

				<ul class="catalogPreview-items">
				<?php if (is_array($this->sidebar_hot_topics)) { ?>
					<?php foreach($this->sidebar_hot_topics AS $key => $val) {?>
						<li class="catalogPreview-item">
							<div class="compactPostPreview">
								<div class="compactPostPreview-avatar">
									<a class="link avatar u-baseColor--link" href="topic/<?php echo $val['topic_title'];?>">
										<img src="<?php echo get_topic_pic_url('max', $val['topic_pic']); ?>" class="avatar-image avatar-image--icon avatar-image--outlined" alt="<?php echo $val['topic_title'];?>">
									</a>
								</div>
								<div class="compactPostPreview-title">
									<div class="titleLockup u-clearfix">
										<div class="titleLockup-title">
											<a class="link link--darker link--darken u-accentColor--textDarken u-baseColor--link" href="topic/<?php echo $val['topic_title'];?>" data-id="<?php echo $val['topic_id']; ?>"><?php echo $val['topic_title'];?></a>
										</div>
										<div class="titleLockup-meta">
											<div class="titleLockup-creator">
												<a class="link link--darken u-accentColor--textDarken u-baseColor--link" href="topic/<?php echo $val['topic_title'];?>"><?php _e('%s 个问题', '<span>' . $val['discuss_count'] . '</span>'); ?></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					<?php } ?>
				<?php } ?>
				</ul>

			</div>
		</div>
	</div>
</div>
