<?php TPL::output('global/header-less.tpl.htm'); ?>

<div class="site-main surface-container">
  <div class="surface">
    <div class="screenContent surface-content is-supplementalPostContentLoaded">
      <article class="u-sizeViewHeightMin100 postArticle postArticle--full">

        <header class="container u-maxWidth740">
          <div class="postMetaHeader u-paddingBottom10 row">
            <div class="col u-size12of12 js-postMetaLockup">
              <div class="postMetaLockup postMetaLockup--authorWithBio u-flex js-postMetaLockup">
                <div class="u-flex0">
                  <a class="link avatar u-baseColor--link" href="people/<?php echo $this->question_info['user_info']['url_token']; ?>">
                    <img src="<?php echo get_avatar_url($this->question_info['published_uid'], 'max'); ?>" class="avatar-image avatar-image--smaller" alt="<?php echo $this->question_info['user_info']['user_name']; ?>">
                  </a>
                </div>
                <div class="u-flex1 u-paddingLeft15 u-overflowHidden">
                  <a class="link link link--darken link--darker u-baseColor--link" href="people/<?php echo $this->question_info['user_info']['url_token']; ?>" data-id="<?php echo $this->question_info['user_info']['uid']; ?>"><?php echo $this->question_info['user_info']['user_name'];?></a>
                  <div class="postMetaInline"><?php echo date_friendly($this->question_info['add_time'], 604800, 'Y-m-d'); ?></div>
                </div>
              </div>
            </div>
          </div>
        </header>

        <main class="postArticle-content js-postField js-notesSource">
          <section class="section--body section--first section--last">
            <div class="section-divider layoutSingleColumn"><hr class="section-divider"></div>
            <div class="section-content">
              <div class="section-inner layoutSingleColumn">
                <h3 class="graf--h3 graf--startsWithDoubleQuote graf--leading graf--title"><?php echo $this->question_info['question_content']; ?></h3>
                <p class="graf--p graf-after--p"><?php echo $this->question_info['question_detail']; ?></p>
              </div>
            </div>
          </section>
        </main>

        <footer class="u-paddingTop10">

          <div class="container u-maxWidth740" data-id="<?php echo $this->question_info['question_id']; ?>">
            <div class="row"><div class="col u-size12of12"></div></div>
            <div class="row">
              <div class="col u-size12of12 js-postTags">
                <div class="postTags">
                  <?php foreach($this->question_topics as $key => $val) { ?>
                  <div class="tags tags--postTags tags--borderless" >
                    <a class="link u-baseColor--link" href="topic/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['topic_id']; ?>"><?php echo $val['topic_title']; ?></a>
                  </div>
                  <?php } ?>
                </div>
              </div>
            </div>
          </div>

					<?php if ($_GET['column'] == 'log') { ?>

						<p>log</p>

					<?php } else { ?>

					<div class="u-backgroundGrayLightest">
						<nav class="u-maxWidth640 container">
							<ul class="browsableStreamTabs">
								<?php if ($_GET['single']) { ?>
									<li class="browsableStreamTabs-item">
										<a class="link link--darker link--darken u-accentColor--textDarken u-baseColor--link" href="question/<?php echo $this->question_info['question_id']; ?>">全部回答</a>
									</li>
								<?php } else if (($this->answer_count OR $_GET['uid']) AND $this->user_id) { ?>
									<li class="browsableStreamTabs-item">
										<a class="link <?php if ($_GET['uid'] == 'focus') { ?>link--darker<?php } ?> link--darken u-accentColor--textDarken u-baseColor--link" href="question/<?php echo $this->question_info['question_id']; ?>?uid=focus">关注的人</a>
									</li>
									<li class="browsableStreamTabs-item">
										<a class="link <?php if ($_GET['sort_key'] == 'add_time') { ?>link--darker<?php } ?> link--darken u-accentColor--textDarken u-baseColor--link" href="question/<?php echo $this->question_info['question_id']; ?>?sort_key=add_time&sort=<?php if (($_GET['sort_key'] == 'add_time') && $_GET['sort'] == 'ASC') { ?>DESC<?php } else { ?>ASC<?php } ?>">时间<?php if (($_GET['sort_key'] == 'add_time') && $_GET['sort'] == 'DESC') { ?> <i class="icon icon-down"></i><?php } else { ?> <i class="icon icon-up"></i><?php } ?></a>
									</li>
									<li class="browsableStreamTabs-item">
										<a class="link <?php if ((!$_GET['uid'] && !$_GET['sort_key']) || $_GET['sort_key'] == 'agree_count') { ?>link--darker<?php } ?> link--darken u-accentColor--textDarken u-baseColor--link" href="question/<?php echo $this->question_info['question_id']; ?>&sort_key=agree_count&sort=DESC">票数</a>
									</li>
								<?php } ?>
							</ul>
						</nav>
					</div>

          <div class="responsesWrapper supplementalPostContent u-backgroundGrayLight js-responsesWrapper u-paddingTop40">
            <div class="container u-maxWidth740">
              <div class="responsesStreamWrapper u-maxWidth640 js-responsesStreamWrapper">

								<?php if ($this->answers) { foreach ($this->answers AS $key => $val) { ?>
									<div class="streamItem streamItem--postPreview js-streamItem" uninterested_count="<?php echo $val['uninterested_count']; ?>" force_fold="<?php if ($val['user_rated_uninterested']) { ?>1<?php } else { ?><?php echo $val['force_fold']; ?><?php } ?>" id="answer_list_<?php echo $val['answer_id']; ?>">
										<div class="streamItem-card streamItem-card--postPreview streamItem-card--hPadding20 streamItem-card--borderRadius3 cardChromeless">
											<div class="streamItem-cardInner streamItem-cardInner--postPreview">
												<article class="postArticle js-postArticle js-trackedPost postArticle--short">

													<div class="u-clearfix u-marginBottom10">
														<div class="postMetaInline u-floatLeft">
															<div class="postMetaInline-avatar">
																<?php if ($val['anonymous'] == 0) { ?>
																	<a class="link avatar u-baseColor--link" href="people/<?php echo $val['user_info']['url_token']; ?>" data-id="<?php echo $val['uid']; ?>">
																		<img src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" class="avatar-image u-size36x36 u-xs-size32x32" alt="<?php echo $val['user_info']['user_name']; ?>">
																	</a>
																<?php } else { ?>
																	<a class="link avatar u-baseColor--link" href="javascript:;">
																		<img src="<?php echo G_STATIC_URL; ?>/common/avatar-mid-img.png" alt="匿名用户" />
																	</a>
																<?php } ?>
															</div>
															<div class="postMetaInline-authorLockup">
																<?php if ($val['anonymous'] == 0) { ?>
																	<a class="link link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken u-baseColor--link" href="people/<?php echo $val['user_info']['url_token']; ?>" data-id="<?php echo $val['uid']; ?>"><?php echo $val['user_info']['user_name']; ?></a>
																<?php } else { ?>
																	<a class="link link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken u-baseColor--link" href="javascript:;">匿名用户</a>
																<?php } ?>
																<div class="u-fontSizeSmallest js-postMetaInlineSupplemental"><a class="link link--darken" href=""><?php echo date_friendly($val['add_time'], 604800, 'Y-m-d'); ?></a>
																</div>
															</div>
														</div>
													</div>

													<div class="layoutSingleColumn">
														<div class="postArticle-content js-postField">
															<section class=" section--body section--first section--last">
																<div class="section-divider layoutSingleColumn"><hr class="section-divider"></div>
																<div class="section-content">
																	<div class="section-inner layoutSingleColumn">
																		<p class="graf--p graf--leading graf--last"><?php echo $val['answer_content']; ?></p>
																	</div>
																</div>
															</section>
														</div>
													</div>

													<div class="u-clearfix u-paddingTop10">
														<div class="buttonSet buttonSet--withLabels u-floatLeft">
															<div class="buttonSet-inner">

																<div class="js-actionRecommend">
																	<button class="button button--primary button--chromeless u-accentColor--buttonNormal button--withIcon button--withSvgIcon u-accentColor--iconLight" <?php if ($this->user_id && $this->user_info['user_name'] != $val['user_info']['user_name']) { ?>onclick="AWS.User.agree_vote(this, '<?php echo $this->user_info['user_name']; ?>', <?php echo $val['answer_id']; ?>);"<?php } ?> ata-placement="right" title="" data-toggle="tooltip" data-original-title="赞同回复">
																		<span class="button-defaultState">
																			<span class="svgIcon svgIcon--heart svgIcon--25px is-flushLeft"><svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25"><path d="M12.5 21a.492.492 0 0 1-.327-.122c-.278-.24-.61-.517-.978-.826-2.99-2.5-7.995-6.684-7.995-10.565C3.2 6.462 5.578 4 8.5 4c1.55 0 3 .695 4 1.89a5.21 5.21 0 0 1 4-1.89c2.923 0 5.3 2.462 5.3 5.487 0 3.97-4.923 8.035-7.865 10.464-.42.35-.798.66-1.108.93a.503.503 0 0 1-.327.12zM8.428 4.866c-2.414 0-4.378 2.05-4.378 4.568 0 3.475 5.057 7.704 7.774 9.975.243.2.47.39.676.56.245-.21.52-.43.813-.68 2.856-2.36 7.637-6.31 7.637-9.87 0-2.52-1.964-4.57-4.377-4.57-1.466 0-2.828.76-3.644 2.04-.1.14-.26.23-.43.23-.18 0-.34-.09-.43-.24-.82-1.27-2.18-2.03-3.65-2.03z" fill-rule="evenodd"></path></svg></span>
																		</span>
																		<span class="button-activeState"><span class="svgIcon svgIcon--heartFilled svgIcon--25px is-flushLeft"><svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25"><path d="M12.5 21a.492.492 0 0 1-.327-.122c-.278-.24-.61-.517-.978-.826-2.99-2.5-7.995-6.684-7.995-10.565C3.2 6.462 5.578 4 8.5 4c1.55 0 3 .695 4 1.89a5.21 5.21 0 0 1 4-1.89c2.923 0 5.3 2.462 5.3 5.487 0 3.97-4.923 8.035-7.865 10.464-.42.35-.798.66-1.108.93a.503.503 0 0 1-.327.12z" fill-rule="evenodd"></path></svg></span></span>
																	</button>
																	<button class="button button--chromeless u-baseColor--buttonNormal u-disablePointerEvents"><?php echo $val['agree_count']; ?></button>
																</div>

															</div>
														</div>
														<div class="buttonSet u-floatRight">

														</div>
													</div>

												</article>
											</div>
										</div>
									<?php } ?>
									</div>
								<?php } ?>

	            </div>
	          </div>
					</div>

				<?php } ?>

        </footer>

      </article>
    </div>
  </div>
</div>

<script type="text/javascript">
    var ANSWER_EDIT_TIME = <?php echo get_setting('answer_edit_time'); ?>;

    $(document).ready(function () {
        if ($('.aw-article-vote.disabled').length)
        {
            $('.aw-article-vote.disabled a').attr('onclick', '');
        }

        AWS.at_user_lists('#wmd-input');

        AWS.Init.init_article_comment_box($('.aw-article-comment'));
    });
</script>
