<?php TPL::output('global/header-less.tpl.htm'); ?>

<article class="postArticle postArticle--full u-backgroundWhite">
  <header class="container u-maxWidth740">
    <div class="postMetaHeader u-paddingBottom10 row">
      <div class="col u-size12of12 js-postMetaLockup">
        <div class="postMetaLockup postMetaLockup--authorWithBio u-flex js-postMetaLockup">
          <div class="u-flex0">
            <a class="link avatar u-baseColor--link" href="people/<?php echo $this->question_info['user_info']['url_token']; ?>">
              <img src="<?php echo get_avatar_url($this->question_info['published_uid'], 'max'); ?>" class="avatar-image avatar-image--small" alt="<?php echo $this->question_info['user_info']['user_name']; ?>">
            </a>
          </div>
          <div class="u-flex1 u-paddingLeft15 u-overflowHidden">
            <a class="link link link--darken link--darker u-baseColor--link" href="people/<?php echo $this->question_info['user_info']['url_token']; ?>" data-id="<?php echo $this->question_info['user_info']['uid']; ?>"><?php echo $this->question_info['user_info']['user_name'];?></a>
            <div class="postMetaInline u-noWrapWithEllipsis u-xs-normalWrap u-xs-lineClamp2"><?php echo $this->question_info['user_info']['signature']; ?></div>
            <div class="postMetaInline">
              <?php echo date_friendly($this->question_info['add_time'], 604800, 'Y-m-d'); ?>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

	<main class="postArticle-content js-postField js-notesSource">
    <section class="section--body section--first section--last">
      <div class="section-divider layoutSingleColumn"><hr class="section-divider"></div>
      <div class="section-content">
        <div class="section-inner layoutSingleColumn">
          <h3 class="graf--h3 graf--leading graf--title"><?php echo $this->question_info['question_content']; ?></h3>
          <p class="graf--p graf-after--p"><?php echo $this->question_info['question_detail']; ?></p>
        </div>
      </div>
    </section>
  </main>

	<footer class="u-paddingTop10">
		<div class="container u-maxWidth740">
			<div class="row"><div class="col u-size12of12"></div></div>
			<!-- 问题标签 -->
      <div class="row">
        <div class="col u-size12of12 js-postTags">
          <div class="u-paddingBottom10" id="question_topic_editor" data-type="question" data-id="<?php echo $this->question_info['question_id']; ?>">
            <div class="tags tags--postTags tags--borderless">
              <?php foreach($this->question_topics as $key => $val) { ?>
                <a class="link u-baseColor--link" href="topic/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['topic_id']; ?>"><?php echo $val['topic_title']; ?></a>
              <?php } ?>
            </div>
          </div>
        </div>
      </div>
      <!-- end 问题标签 -->
		</div>

		<!-- 回答筛选 -->

    <!-- end 回答筛选 -->

		<div class="js-postBundleWrapper postBundleWrapper"></div>

		<!-- 回答 -->
		<div class="responsesWrapper">
      <div class="container u-maxWidth740">
        <div class="responsesStreamWrapper u-maxWidth640">
					<?php if ($_GET['column'] == 'log') { ?>
						1
					<?php } else { ?>
					<!-- 回答标题 -->
					<div class="container u-maxWidth640 responsesStream-title u-paddingTop15">
            <div class="row">
              <div class="col u-size12of12">
                <div class="heading u-clearfix">
                  <div class="u-clearfix">
                    <div class="heading-content u-floatLeft">
                      <span class="heading-title heading-title--semibold" >回答</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
					<!-- end 回答标题 -->
					<div class="responsesStream aw-feed-list">
						<?php if ($this->answers) { foreach ($this->answers AS $key => $val) { ?>
							<div class="streamItem streamItem--postPreview" uninterested_count="<?php echo $val['uninterested_count']; ?>" force_fold="<?php if ($val['user_rated_uninterested']) { ?>1<?php } else { ?><?php echo $val['force_fold']; ?><?php } ?>" id="answer_list_<?php echo $val['answer_id']; ?>">
								<div class="streamItem-card streamItem-card--postPreview streamItem-card--hPadding20 streamItem-card--borderRadius3 cardChromeless">
	                <div class="streamItem-cardInner streamItem-cardInner--postPreview">
	                  <article class="postArticle postArticle--short">
											<!-- 回答信息 -->
											<div class="u-clearfix u-marginBottom10">
												<div class="postMetaInline u-floatLeft">
													<!-- 用户头像 -->
													<div class="postMetaInline-avatar">
														<?php if ($val['anonymous'] == 0) { ?>
	                          	<a class="link avatar u-baseColor--link" href="people/<?php echo $val['user_info']['url_token']; ?>" data-id="<?php echo $val['uid']; ?>"><img src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" class="avatar-image u-size36x36 u-xs-size32x32" alt="1" /></a>
														<?php } else { ?>
															<a class="link avatar u-baseColor--link" href="javascript:;"><img src="<?php echo G_STATIC_URL; ?>/common/avatar-mid-img.png" class="avatar-image u-size36x36 u-xs-size32x32" alt="匿名用户" /></a>
														<?php } ?>
	                        </div>
													<!-- end 用户头像 -->
													<!-- 回答基本信息 -->
													<div class="postMetaInline-authorLockup">
														<?php if ($val['anonymous'] == 0) { ?>
                            	<a class="link link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken u-baseColor--link" href="people/<?php echo $val['user_info']['url_token']; ?>" data-id="<?php echo $val['uid']; ?>"><?php echo $val['user_info']['user_name']; ?></a>
														<?php } else { ?>
															<a class="link link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken u-baseColor--link" href="javascript:;">匿名用户</a>
														<?php } ?>
                            <div class="u-fontSizeSmallest js-postMetaInlineSupplemental">
                              <span class="link link--darken"><?php echo date_friendly($val['add_time'], 604800, 'Y-m-d'); ?></span>
                            </div>
                          </div>
													<!-- end 回答基本信息 -->
												</div>
											</div>
											<!-- end 回答信息 -->
											<!-- 回答内容 -->
											<div class="layoutSingleColumn">
                        <div class="postArticle-content">
                          <section class="section--body section--first section--last">
                            <div class="section-content"><div class="section-inner layoutSingleColumn"><p class="graf--p graf--leading graf--last"><?php echo $val['answer_content']; ?></p></div></div>
                          </section>
                        </div>
                      </div>
											<!-- end 回答内容 -->
											<!-- 回答操作 -->
											<div class="u-clearfix u-paddingTop10">
												<div class="buttonSet buttonSet--withLabels u-floatLeft">
													<span class="operate">
														<a class="agree<?php if ($this->user_info['user_name'] == $val['user_info']['user_name']) { ?> disabled<?php } ?> <?php if ($val['agree_status'] == 1) { ?>active<?php } ?> <?php if (!$this->user_id) { ?>disabled<?php } ?>" <?php if ($this->user_id && $this->user_info['user_name'] != $val['user_info']['user_name']) { ?>onclick="AWS.User.agree_vote(this, '<?php echo $this->user_info['user_name']; ?>', <?php echo $val['answer_id']; ?>);"<?php } ?>><i data-placement="right" title="" data-toggle="tooltip" class="icon icon-agree" data-original-title="赞同回复"></i> <b class="count"><?php echo $val['agree_count']; ?></b></a>
														<?php if ($this->user_id AND $this->user_info['user_name'] != $val['user_info']['user_name']) { ?>
														<a class="disagree <?php if ($val['agree_status'] == -1) { ?>active<?php } ?>" onclick="AWS.User.disagree_vote(this, '<?php echo $this->user_info['user_name']; ?>', <?php echo $val['answer_id']; ?>)"><i data-placement="right" title="" data-toggle="tooltip" class="icon icon-disagree" data-original-title="对回复持反对意见"></i></a>
														<?php } ?>
													</span>
                        </div>
												<div class="buttonSet u-floatRight">
													<?php if ($this->user_id) { ?>
														<?php if (($this->user_info['permission']['is_administortar'] OR $this->user_info['permission']['is_moderator']) OR ($val['uid'] == $this->user_id AND ((TIMESTAMP - $val['add_time']) < (get_setting('answer_edit_time') * 60) OR (!get_setting('answer_edit_time'))))) { ?>
														<a class="text-color-999" href="javascript:;" onclick="AWS.dialog('commentEdit', {answer_id:<?php echo $val['answer_id']; ?>,attach_access_key:'<?php echo $this->attach_access_key; ?>'});"><i class="icon icon-edit"></i> <?php _e('编辑'); ?></a>
														<?php } ?>
														<?php if ($this->user_info['permission']['is_administortar'] OR $this->user_info['permission']['is_moderator']) { ?>
														<a href="javascript:;" onclick="AWS.User.answer_force_fold($(this), <?php echo $val['answer_id']; ?>);" class="text-color-999"><i class="icon icon-fold"></i> <?php if ($val['force_fold']) { ?><?php _e('撤消折叠'); ?><?php } else { ?><?php _e('折叠'); ?><?php } ?></a>
														<?php } else { ?>
														<a class="aw-icon-thank-tips text-color-999" data-original-title="<?php _e('这是一个没有价值的回复'); ?>" data-toggle="tooltip" title="" data-placement="top" onclick="AWS.User.answer_user_rate($(this), 'uninterested', <?php echo $val['answer_id']; ?>);"><i class="icon icon-fold"></i><?php if ($val['user_rated_uninterested']) { ?><?php _e('撤消没有帮助'); ?><?php } else { ?><?php _e('没有帮助'); ?><?php } ?></a>
														<?php } ?>

														<a href="javascript:;" onclick="AWS.dialog('favorite', {item_id:<?php echo $val['answer_id']; ?>, item_type:'answer'});" class="text-color-999"><i class="icon icon-favor"></i> <?php _e('收藏'); ?></a>
													<?php } ?>

													<?php if ($this->user_id != $val['uid'] AND $this->user_id) { ?>
													<a href="javascript:;"<?php if (!$val['user_rated_thanks']) { ?> onclick="AWS.User.answer_user_rate($(this), 'thanks', <?php echo $val['answer_id']; ?>);"<?php } ?> class="aw-icon-thank-tips text-color-999" data-original-title="<?php _e('感谢热心的回复者'); ?>" data-toggle="tooltip" title="" data-placement="bottom"><i class="icon icon-thank"></i> <?php if ($val['user_rated_thanks']) { ?><?php _e('已感谢'); ?><?php } else { ?><?php _e('感谢'); ?><?php } ?></a>
													<?php } ?>
													<?php if (($this->user_info['permission']['is_moderator'] OR $this->user_info['permission']['is_administortar']) AND !$this->question_info['best_answer']) { ?>
													<a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/question/ajax/set_best_answer/', 'answer_id=<?php echo $val['answer_id']; ?>');" class="text-color-999"><i class="icon icon-best"></i><?php _e('最佳回复'); ?></a>
													<?php } ?>
												</div>
											</div>
											<!-- end 回答操作 -->
										</article>
									</div>
								</div>
							</div>
							<?php } ?>
						<?php } ?>
					</div>
					<?php } ?>
				</div>
			</div>
		</div>
		<!-- end 回答 -->

	</footer>

</article>

<script type="text/javascript">
	var ATTACH_ACCESS_KEY = '<?php echo $this->attach_access_key; ?>';
	var ITEM_IDS = '<?php echo addslashes($_GET['item_id']); ?>';
	var COMMENT_UNFOLD = '<?php echo addslashes($_GET['comment_unfold']); ?>';
	var QUESTION_ID = <?php echo $this->question_info['question_id'];?>;
	var UNINTERESTED_COUNT = <?php echo get_setting('uninterested_fold'); ?>;
	var ANSWER_EDIT_TIME = <?php echo get_setting('answer_edit_time'); ?>;
	var USER_ANSWERED = '<?php echo $this->user_answered; ?>';
	var UPLOAD_ENABLE = '<?php echo get_setting('upload_enable') ?>';
	var ANSWER_TYPE = 'answer';
</script>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/question_detail.js"></script>

<?php TPL::output('global/footer.tpl.htm'); ?>
