<?php TPL::output('global/header.tpl.htm'); ?>

<div class="homeContainer js-homepage u-backgroundGrayLightest u-clearfix">
	<div class="u-foreground homeContainer-content u-maxWidth1000 u-marginAuto u-clearfix u-sizeViewHeightMin100">
		<div class="u-clearfix u-positionRelative">

			<div class="homeContainer-stream">
				<div class="js-homeStream">
					<?php echo $this->question_list_bit; ?>
					<?php echo $this->pagination; ?>
				</div>
			</div>

			<div class="js-sidebar2 sidebar sidebar--width340">
				<div class="sidebar-contentWrapper sidebar-contentWrapper2">
					<div class="js-sidebar2-contentWrapper">
						<div class="sidebarad">
							<a class="sidebarad--link" href="http://www.battlenet.com.cn/wow/zh/blog/17433416/"><img src="http://7xp0k6.com1.z0.glb.clouddn.com/X9KFQ5WBY2JW1470392046508.jpg" alt="“萨格拉斯之墓”广播剧"></a>
						</div>
						<?php TPL::output('block/sidebar_feature.tpl.htm'); ?>
						<?php TPL::output('block/sidebar_hot_topics.tpl.htm'); ?>
						<?php TPL::output('block/sidebar_hot_users.tpl.htm'); ?>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>
