<?php TPL::output('global/header-less.tpl.htm'); ?>

<div class="site-main surface-container">
  <div class="surface">
    <div class="screenContent surface-content is-supplementalPostContentLoaded">
      <article class="u-sizeViewHeightMin100 postArticle postArticle--full">
        <header class="container u-maxWidth740">
          <div class="postMetaHeader u-paddingBottom10 row">
            <div class="col u-size12of12 js-postMetaLockup">
              <div class="postMetaLockup postMetaLockup--authorWithBio u-flex js-postMetaLockup">
                <div class="u-flex0">
                  <a class="link avatar u-baseColor--link" href="people/<?php echo $this->article_info['user_info']['url_token']; ?>">
                    <img src="<?php echo get_avatar_url($this->article_info['uid'], 'max'); ?>" class="avatar-image avatar-image--smaller" alt="<?php echo $this->article_info['user_info']['user_name']; ?>">
                  </a>
                </div>
                <div class="u-flex1 u-paddingLeft15 u-overflowHidden">
                  <a class="link link link--darken link--darker u-baseColor--link" href="people/<?php echo $this->article_info['user_info']['url_token']; ?>" data-id="<?php echo $this->article_info['user_info']['uid']; ?>"><?php echo $this->article_info['user_info']['user_name'];?></a>
                  <div class="postMetaInline"><?php echo date_friendly($this->article_info['add_time'], 604800, 'Y-m-d'); ?></div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <main class="postArticle-content js-postField js-notesSource">
          <section class="section--body section--first section--last">
            <div class="section-divider layoutSingleColumn"><hr class="section-divider"></div>
            <div class="section-content">
              <div class="section-inner layoutSingleColumn">
                <h3 class="graf--h3 graf--startsWithDoubleQuote graf--leading graf--title"><?php echo $this->article_info['title']; ?></h3>
                <p class="graf--p graf-after--p"><?php echo $this->article_info['message']; ?></p>
              </div>
            </div>
          </section>
        </main>

        <footer class="u-paddingTop10">

          <?php if ($this->article_topics) { ?>
          <div class="container u-maxWidth740">
            <div class="row"><div class="col u-size12of12"></div></div>
            <div class="row">
              <div class="col u-size12of12 js-postTags">
                <div class="postTags">
                  <?php foreach($this->article_topics as $key => $val) { ?>
                  <div class="tags tags--postTags tags--borderless" >
                    <a class="link u-baseColor--link" href="topic/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['topic_id']; ?>"><?php echo $val['topic_title']; ?></a>
                  </div>
                  <?php } ?>
                </div>
              </div>
            </div>
          </div>
          <?php } ?>

          <div class="js-postBundleWrapper postBundleWrapper">
            <div class="relatedPostGridContainer">
              <div class="relatedPostGrid container u-maxWidth740">
                <div class="heading u-clearfix u-margin10 u-fontSizeSmaller u-textColorDark"><div class="u-clearfix"><div class="heading-content u-floatLeft"><span class="heading-title heading-title--semibold u-margin10 u-fontSizeSmaller u-textColorDark">相关内容</span></div></div></div>
              </div>
            </div>
          </div>

          <div class="responsesWrapper supplementalPostContent js-responsesWrapper">
            <div class="container u-maxWidth740">
              <div class="responsesStreamWrapper u-maxWidth640 js-responsesStreamWrapper">

                <div class="container u-maxWidth640 responsesStream-title">
                  <div class="row">
                    <div class="col u-size12of12">
                      <div class="heading u-clearfix">
                        <div class="u-clearfix">
                          <div class="heading-content u-floatLeft">
                            <span class="heading-title heading-title--semibold"><?php _e('%s 个评论', $this->comments_count); ?></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <?php if ($this->article_info['lock']) { ?>

                  <div class="container u-maxWidth640 js-showOtherResponses">
                    <div class="row">
                      <button class="button button--primary button--withChrome u-accentColor--buttonNormal responsesStream-showOtherResponses cardChromeless u-sizeFullWidth">该文章目前已经被锁定, 无法添加新评论</button>
                    </div>
                  </div>

                <?php } else if (!$this->user_id) { ?>

                  <div class="container u-maxWidth640 js-showOtherResponses">
                    <div class="row">
                      <button class="button button--primary button--withChrome u-accentColor--buttonNormal responsesStream-showOtherResponses cardChromeless u-sizeFullWidth">要回复文章请先<a href="account/login/">登录</a>或<a href="account/register/">注册</a></button>
                    </div>
                  </div>

                <?php } else { ?>

                  <div class="container u-maxWidth640 responsesStream-editor cardChromeless">
                    <div class="row">
                      <div class="col u-size12of12">
                        <div class="inlineNewPostControl js-inlineNewPostControl blockGroup blockGroup-list">
                          <div class="inlineEditor js-inlineEditor">
                            <div class="block block--inset block--list block--preview js-block js-inlineEditorContent">

                              <form action="article/ajax/save_comment/" onsubmit="return false;" method="post" id="answer_form">

                                <input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
                                <input type="hidden" name="article_id" value="<?php echo $this->article_info['id']; ?>" />

                                <div class="inlineEditor-header">
                                  <div class="inlineEditor-avatar">
                                    <div class="avatar avatar--inline"><img src="<?php echo get_avatar_url($this->user_info['uid'], 'max'); ?>" class="avatar-image u-size36x36 u-xs-size32x32" alt="<?php echo $this->user_info['user_name']; ?>"></div>
                                  </div>
                                  <div class="inlineEditor-headerContent"></div>
                                </div>

                                <div class="block-streamText">
                                  <div class="block-content">
                                    <article class="postArticle postArticle--short">
                                      <div class="layoutSingleColumn">
                                        <main class="postArticle-content js-postField js-notesSource editable">
                                          <section class="section--body section--first section--last">
                                            <div class="section-content">
                                              <div class="section-inner layoutSingleColumn">
                                                <textarea rows="3" name="message" id="comment_editor" class="form-control autosize" placeholder="写下你的评论..."  /></textarea>
                                              </div>
                                            </div>
                                          </section>
                                        </main>
                                      </div>
                                    </article>
                                  </div>
                                </div>

                                <div class="inlineEditor-actions">
                                  <div class="u-floatLeft">
                                    <div class="buttonSet">
                                      <a href="javascript:;" onclick="AWS.ajax_post($('#answer_form'), AWS.ajax_processer, 'reply');" class="button button--primary button--withChrome u-accentColor--buttonNormal js-publishButton">回复</a>
                                    </div>
                                  </div>
                                </div>

                              </form>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                <?php } ?>

                <?php if ($this->comments) { ?>
                  <div class="responsesStream js-responsesStream">
                    <?php foreach ($this->comments AS $key => $val) { ?>
                      <div class="streamItem streamItem--postPreview js-streamItem" id="answer_list_<?php echo $val['id']; ?>">
                        <div class="streamItem-card streamItem-card--postPreview streamItem-card--hPadding20 streamItem-card--borderRadius3 cardChromeless">
                          <div class="streamItem-cardInner streamItem-cardInner--postPreview">
                            <article class="postArticle js-postArticle js-trackedPost postArticle--short">

                              <div class="u-clearfix u-marginBottom10">
                                <div class="postMetaInline u-floatLeft">
                                  <div class="postMetaInline-avatar">
                                    <a class="link avatar u-baseColor--link" href="people/<?php echo $val['user_info']['url_token']; ?>"><img src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" class="avatar-image u-size36x36 u-xs-size32x32" alt="<?php echo $val['user_info']['user_name']; ?>"></a>
                                  </div>
                                  <div class="postMetaInline-authorLockup">
                                    <a class="link link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken u-baseColor--link" href="people/<?php echo $val['user_info']['url_token']; ?>"><?php echo $val['user_info']['user_name']; ?></a>
                                    <div class="u-fontSizeSmallest js-postMetaInlineSupplemental">
                                      <a class="link link--darken" href="javascript:;"><?php echo date_friendly($val['add_time']); ?></a>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="layoutSingleColumn js-inlineExpandBody">
                                <div class="postArticle-content js-postField">
                                  <section class="section--body section--first section--last">
                                    <div class="section-content">
                                      <div class="section-inner layoutSingleColumn">
                                        <p class="graf--p graf--leading"><?php echo nl2br($val['message']); ?></p>
                                      </div>
                                    </div>
                                  </section>
                                </div>
                              </div>

                            </article>
                          </div>
                        </div>
                      </div>
                    <?php } ?>
                  </div>
                <?php } ?>

              </div>
            </div>
          </div>

        </footer>

      </article>
    </div>
  </div>
</div>

<script type="text/javascript">
    var ANSWER_EDIT_TIME = <?php echo get_setting('answer_edit_time'); ?>;

    $(document).ready(function () {
        if ($('.aw-article-vote.disabled').length)
        {
            $('.aw-article-vote.disabled a').attr('onclick', '');
        }

        AWS.at_user_lists('#wmd-input');

        AWS.Init.init_article_comment_box($('.aw-article-comment'));
    });
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>
