<?php TPL::output('global/header.tpl.htm'); ?>

<div class="homeContainer js-homepage u-backgroundGrayLightest u-clearfix">
	<div class="u-foreground homeContainer-content u-maxWidth1000 u-marginAuto u-clearfix u-sizeViewHeightMin100">
		<div class="u-clearfix u-relative">

			<div class="homeContainer-stream">
				<div class="js-homeStream">
					<?php if ($this->article_list) { ?>
						<?php foreach ($this->article_list AS $key => $val) { ?>
							<div class="streamItem streamItem--postPreview js-streamItem">

								<div class="streamItem-card streamItem-card--postPreview streamItem-card--hPadding20 streamItem-card--borderRadius3 cardChromeless">
									<div class="streamItem-cardInner streamItem-cardInner--postPreview">
										<article class="postArticle js-postArticle js-trackedPost postArticle--short">

											<div class="u-clearfix">
												<div class="postMetaInline u-floatLeft">
													<div class="postMetaInline-avatar">
														<a class="link avatar u-baseColor--link" href="people/<?php echo $val['user_info']['url_token']; ?>">
															<img src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" alt="" class="avatar-image u-size36x36 u-xs-size32x32" />
														</a>
													</div>
													<div class="postMetaInline-authorLockup">
														<a class="link link--darken link--accent" href="people/<?php echo $val['user_info']['url_token']; ?>"><?php echo $val['user_info']['user_name']; ?></a>
														<?php _e('发表了文章'); ?>
														<div class="fontSizeSmallest">
															<a class="link link--darken" href="article/<?php echo $val['id']; ?>"><?php echo date_friendly($val['add_time']); ?></a>
															<span class="middotDivider"></span>
															<span class="readingTime"><?php _e('%s 次浏览', $val['views']); ?></span>
														</div>
													</div>
												</div>
											</div>

											<div class="layoutSingleColumn">
												<a href="article/<?php echo $val['id']; ?>">
													<div class="postArticle-content js-postField">
														<section class="section--body section--first section--last">
															<div class="section-divider layoutSingleColumn"><hr class="section-divider"></div>
															<div class="section-content">
																<div class="section-inner layoutSingleColumn">
																	<h3 class="graf--h3 graf-after--figure graf--last graf--title"><?php echo $val['title']; ?></h3>
																	<p class="graf--p graf-after--h3 graf--last">
																		<?php echo FORMAT::parse_attachs(nl2br(FORMAT::parse_markdown(cjk_substr($val['message'], 0, 130, 'UTF-8', '...')))); ?>
																	</p>
																</div>
															</div>
														</section>
													</div>
												</a>
											</div>

											<div class="u-clearfix u-paddingTop10">
												<div class="buttonSet u-floatRight">
													<div class="buttonSet-inner">
														<a class="button button--chromeless" href="article/<?php echo $val['id']; ?>"><?php _e('%s 个评论', $val['comments']); ?></a>
													</div>
												</div>
											</div>

										</article>
									</div>
								</div>

							</div>
						<?php } ?>
					<?php } ?>
				</div>
			</div>

			<div class="sidebar">
				<div class="sidebar-contentWrapper sidebar-contentWrapper2">
					<div class="sidebar-contentWrapper">
						<?php TPL::output('block/sidebar_feature.tpl.htm'); ?>
						<?php TPL::output('block/sidebar_hot_topics.tpl.htm'); ?>
						<?php TPL::output('block/sidebar_hot_users.tpl.htm'); ?>
					</div>
					<footer class="container u-maxWidth740 u-marginTop30 u-borderTopLightest80">
						<div class="u-paddingTop10 u-paddingBottom25 ">
							<a class="link u-textColorNormal u-fontSizeMicro u-marginRight10 u-baseColor--link" href="#">帮助中心</a>
							<a class="link u-textColorNormal u-fontSizeMicro u-marginRight10 u-baseColor--link" href="#">博客</a>
							<a class="link u-textColorNormal u-fontSizeMicro u-marginRight10 u-baseColor--link" href="#">隐私</a>
							<a class="link u-textColorNormal u-fontSizeMicro u-baseColor--link" href="#">关于</a>
						</div>
					</footer>
				</div>
			</div>

		</div>
	</div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>
