<?php if ($this->posts_list) { ?>
	<?php foreach($this->posts_list as $key => $val) { ?>
		<div class="streamItem streamItem--postPreview js-streamItem <?php if ($val['question_id']) { ?><?php if ($val['answer_count'] == 0) { ?>active<?php } ?><?php } else {?>article<?php } ?>" data-topic-id="<?php foreach ($val['topics'] AS $k => $v) { ?><?php echo $v['topic_id']; ?>,<?php } ?>">
			<div class="streamItem-card streamItem-card--postPreview streamItem-card--hPadding20 streamItem-card--borderRadius3 cardChromeless">
				<div class="streamItem-cardInner streamItem-cardInner--postPreview">
					<article class="postArticle js-postArticle js-trackedPost postArticle--short">

						<div class="u-marginBottom10">
							<div class="postMetaInline">
								<span class="svgIcon svgIcon--tagFilled svgIcon--21px"><svg class="svgIcon-use" width="21" height="21" viewBox="0 0 21 21"><path d="M4.662 8.72l-1.23 1.23a1.753 1.753 0 0 0 .004 2.477l5.135 5.135c.7.693 1.8.688 2.48.005l1.23-1.23 5.35-5.346c.31-.31.54-.92.51-1.36l-.32-4.29c-.09-1.09-1.05-2.06-2.15-2.14l-4.3-.33c-.43-.03-1.05.2-1.36.51l-.79.8-2.27 2.28-2.28 2.27zm9.826-.98a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5z" fill-rule="evenodd"></path></svg></span>
								<?php if ($val['topics']) { ?>
	 								<?php foreach($val['topics'] as $t_key => $t_val) { if ($t_key > 2) { break; } ?>
										<a href="topic/<?php echo $t_val['url_token']; ?>" class="link u-baseColor--link" data-id="<?php echo $t_val['topic_id']; ?>"><?php echo $t_val['topic_title']; ?></a>
									<?php } ?>
								<?php } ?>
							</div>
						</div>

						<div class="u-clearfix">
							<div class="postMetaInline u-floatLeft">
								<div class="postMetaInline-avatar">
									<?php if ($val['anonymous'] == 0) { ?>
										<a class="link avatar u-baseColor--link" href="people/<?php echo $val['user_info']['url_token']; ?>" data-id="<?php echo $val['user_info']['uid']; ?>" rel="nofollow">
											<img src="<?php echo get_avatar_url($val['user_info']['uid'], 'max'); ?>" class="avatar-image u-size36x36 u-xs-size32x32">
										</a>
									<?php } else { ?>
										<a class="link avatar u-baseColor--link" href="javascript:;">
											<img src="<?php echo G_STATIC_URL; ?>/common/avatar-max-img.png" alt="<?php _e('匿名用户'); ?>" title="<?php _e('匿名用户'); ?>" class="avatar-image u-size36x36 u-xs-size32x32" />
										</a>
									<?php } ?>
								</div>
								<div class="postMetaInline-authorLockup">
									<?php if ($val['question_id']) { ?>
										<?php if ($val['answer_count'] > 0) { ?>
											<?php if ($val['answer_info']['anonymous']) { ?>
												<a class="link link--darken link--accent" href="javascript:;">匿名用户</a>
											<?php } else { ?>
												<a class="link link--darken link--accent" href="people/<?php echo $val['user_info']['url_token']; ?>" data-id="<?php echo $val['answer_info']['user_info']['uid']; ?>"><?php echo $val['answer_info']['user_info']['user_name']; ?></a>
											<?php } ?>
											<?php _e('回复了问题'); ?>
												<div class="fontSizeSmallest">
													<a class="link link--darken" href="question/<?php echo $val['question_id']; ?>"><?php echo date_friendly($val['update_time']); ?></a>
													<span class="middotDivider"></span>
													<span class="readingTime"><?php _e('%s 次浏览', $val['view_count']); ?></span>
												</div>
										<?php } else { ?>
											<?php if ($val['anonymous'] == 0) { ?>
												<a class="link link--darken link--accent" href="people/<?php echo $val['user_info']['url_token']; ?>"><?php echo $val['user_info']['user_name']; ?></a>
											<?php } else { ?>
												<a class="link link--darken link--accent" href="javascript:;">匿名用户</a>
											<?php } ?>
											<?php _e('发起了问题'); ?>
											<div class="fontSizeSmallest">
												<a class="link link--darken" href="question/<?php echo $val['question_id']; ?>"><?php echo date_friendly($val['update_time']); ?></a>
												<span class="middotDivider"></span>
												<span class="readingTime"><?php _e('%s 次浏览', $val['view_count']); ?></span>
											</div>
										<?php } ?>
									<?php } else { ?>
										<a class="link link--darken link--accent" href="people/<?php echo $val['user_info']['url_token']; ?>"><?php echo $val['user_info']['user_name']; ?></a>
										<?php _e('发表了文章'); ?>
										<div class="fontSizeSmallest">
											<a class="link link--darken" href="article/<?php echo $val['id']; ?>"><?php echo date_friendly($val['add_time']); ?></a>
											<span class="middotDivider"></span>
											<span class="readingTime"><?php _e('%s 次浏览', $val['views']); ?></span>
										</div>
									<?php } ?>
								</div>
							</div>
						</div>

						<div class="layoutSingleColumn">
							<?php if ($val['question_id']) { ?>
								<a href="question/<?php echo $val['question_id']; ?>">
									<div class="postArticle-content js-postField">
										<section class="section--body section--first section--last">
											<div class="section-divider layoutSingleColumn"><hr class="section-divider"></div>
											<div class="section-content">
												<div class="section-inner layoutSingleColumn">
													<h3 class="graf--h3 graf-after--figure graf--last graf--title"><?php echo $val['question_content']; ?></h3>
													<p class="graf--p graf-after--h3 graf--last"><?php echo nl2br(trim(strip_tags(FORMAT::parse_attachs(FORMAT::parse_bbcode($val['message']))))); ?></p>
												</div>
											</div>
										</section>
									</div>
								</a>
							<?php } else { ?>
								<a href="article/<?php echo $val['id']; ?>">
									<div class="postArticle-content js-postField">
										<section class="section--body section--first section--last">
											<div class="section-divider layoutSingleColumn"><hr class="section-divider"></div>
											<div class="section-content">
												<div class="section-inner layoutSingleColumn">
													<h3 class="graf--h3 graf-after--figure graf--last graf--title"><?php echo $val['title']; ?></h3>
													<p class="graf--p graf-after--h3 graf--last">
														<?php echo FORMAT::parse_attachs(nl2br(FORMAT::parse_markdown(cjk_substr($val['message'], 0, 130, 'UTF-8', '...')))); ?>
													</p>
												</div>
											</div>
										</section>
									</div>
								</a>
							<?php } ?>
						</div>

						<div class="u-clearfix u-paddingTop10">
							<?php if ($val['question_id']) { ?>
								<div class="buttonSet buttonSet--withLabels u-floatLeft">
									<div class="buttonSet-inner">
										<a class="button button--chromeless" href="question/<?php echo $val['question_id']; ?>"><?php _e('%s 人关注', $val['focus_count']); ?></a>
									</div>
								</div>
								<div class="buttonSet u-floatRight">
									<div class="buttonSet-inner">
										<a class="button button--chromeless" href="question/<?php echo $val['question_id']; ?>"><?php _e('%s 个回复', $val['answer_count']); ?></a>
									</div>
								</div>
							<?php } else { ?>
								<div class="buttonSet u-floatRight">
									<div class="buttonSet-inner">
										<a class="button button--chromeless" href="article/<?php echo $val['id']; ?>"><?php _e('%s 个评论', $val['comments']); ?></a>
									</div>
								</div>
							<?php } ?>
						</div>

					</article>
				</div>
			</div>
		</div>
	<?php } ?>
<?php } ?>
