<?php TPL::output('global/header-less.tpl.htm'); ?>

<div class="site-main surface-container">
  <div class="surface">
    <div class="screenContent surface-content is-supplementalPostContentLoaded">
      <div class="u-clearfix u-sizeViewHeightMin100 u-backgroundGrayLight">
        <div class="u-foreground">

          <div class="js-profileHeaderBlock">
            <div class="js-profileHeader u-backgroundWhite">
              <div class="container u-maxWidth640 u-paddingBottom30 u-xs-paddingBottom20 u-paddingTop20 u-backgroundWhite u-borderRadiusTop4 u-xs-borderRadiusTop0">
                <div class="label label--smaller u-inlineBlock js-followeesWhoFollow"></div>
                <header class="hero hero--profile">
                  <div class="hero-avatar u-floatRight js-profileAvatar">
                    <div class="avatar">
                      <img src="<?php echo get_avatar_url($this->user['uid'], 'max'); ?>" class="avatar-image u-size100x100 u-xs-size80x80 imagePicker-target" alt="<?php echo $this->user['user_name']; ?>">
                    </div>
                  </div>
                  <h1 class="hero-title">
                    <a class="link link--darker link--darken u-accentColor--textDarken u-baseColor--link" href=""><?php echo $this->user['user_name']; ?></a>
                  </h1>
                  <p class="hero-description is-empty"></p>
                </header>

                <div class="buttonSet buttonSet--profile u-noWrap">
                  <button class="button button--chromeless u-baseColor--buttonNormal"><?php _e('关注 %s 人', '<em class="aw-text-color-blue">' . $this->user['friend_count'] . '</em>'); ?></button>
                  <button class="button button--chromeless u-baseColor--buttonNormal"><?php _e('被 %s 人关注', '<em class="aw-text-color-blue">' . $this->user['fans_count'] . '</em>'); ?></button>
                </div>

                <div class="buttonSet buttonSet--profile js-headerButtons u-inlineBlock">
                  <span class="followState js-followState buttonSet-inner">
                    <button class="button button--primary u-noUserSelect button--withChrome u-accentColor--buttonNormal button--follow js-followButton">
                      <span class="button-label  button-defaultState js-buttonLabel">关注</span>
                    </button>
                  </span>
                </div>

              </div>

              <div class="u-backgroundGrayLightest">
                <nav class="u-maxWidth640 container">
                  <ul class="browsableStreamTabs">
                    <li class="browsableStreamTabs-item">
                      <a class="link link--darker link--darken u-accentColor--textDarken u-baseColor--link" href="#overview" id="page_overview" data-toggle="tab">概述</a>
                    </li>
                    <li class="browsableStreamTabs-item">
                      <a class="link link--darken u-accentColor--textDarken u-baseColor--link" href="#questions" id="page_questions" data-toggle="tab">提问</a>
                    </li>
                    <li class="browsableStreamTabs-item">
                      <a class="link link--darken u-accentColor--textDarken u-baseColor--link" href="#answers" id="page_answers" data-toggle="tab">回答</a>
                    </li>
                    <li class="browsableStreamTabs-item">
                      <a class="link link--darken u-accentColor--textDarken u-baseColor--link" href="#articles" id="page_articles" data-toggle="tab">文章</a>
                    </li>
                    <li class="browsableStreamTabs-item">
                      <a class="link link--darken u-accentColor--textDarken u-baseColor--link" href="#actions" id="page_actions" data-toggle="tab">动态</a>
                    </li>
                  </ul>
                </nav>
              </div>

            </div>
          </div>

          <div class="js-moreStoriesLinkBlock"></div>

          <!-- 提问 -->
          <div class="js-profileStreamBlock u-maxWidth640 u-marginAuto">
            <div class="streamItem streamItem--heading js-streamItem">
              <div class="streamItemHeading container u-maxWidth640">
                <div class="heading u-clearfix heading--streamSection">
                  <div class="u-clearfix">
                    <div class="heading-content u-floatLeft">
                      <span class="heading-title heading-title--semibold">提问</span>
                    </div>
                    <div class="heading-content u-floatRight">
                      <a class="link link--dark link--darken u-accentColor--textDarken u-baseColor--link" href="javascript:;" onclick="$('#page_questions').click();">查看全部</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <?php if ($this->user_actions_questions) { ?>
            <?php foreach ($this->user_actions_questions AS $key => $val) { ?>
              <div class="streamItem streamItem--postPreview js-streamItem">
                <div class="streamItem-card streamItem-card--postPreview streamItem-card--hPadding20 streamItem-card--borderRadius3 cardChromeless">
                  <div class="streamItem-cardInner streamItem-cardInner--postPreview">
                    <article class="postArticle js-postArticle js-trackedPost postArticle--short">
                      <div class="u-clearfix u-marginBottom10">
                        <div class="postMetaInline u-floatLeft">
                          <div class="postMetaInline-avatar">
                            <a class="link avatar u-baseColor--link" href="people/<?php echo $this->question_info['user_info']['url_token']; ?>">
                              <img src="<?php echo get_avatar_url($this->user['uid'], 'max'); ?>" class="avatar-image u-size36x36 u-xs-size32x32"></a>
                          </div>
                          <div class="postMetaInline-authorLockup">
                            <a class="link link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken u-baseColor--link" href="people/<?php echo $this->question_info['user_info']['url_token']; ?>"><?php echo $this->user['user_name']; ?></a>
                            <div class="u-fontSizeSmallest js-postMetaInlineSupplemental"><a class="link link--darken" href="question/<?php echo $val['question_info']['question_id']; ?>"><?php echo date_friendly($val['add_time'], 604800, 'Y-m-d'); ?></a>
                              <span class="middotDivider"></span>
                              <span class="readingTime"><?php _e('%s 次浏览', $val['question_info']['view_count']); ?></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="layoutSingleColumn">
                        <a class="" href="question/<?php echo $val['question_info']['question_id']; ?>">
                          <div class="postArticle-content js-postField">
                            <section class=" section--body section--first section--last">
                              <div class="section-divider layoutSingleColumn">
                                <hr class="section-divider">
                              </div>
                              <div class="section-content">
                                <div class="section-inner layoutSingleColumn">
                                  <h3 class="graf--h3 graf--startsWithDoubleQuote graf--leading graf--title"><?php echo $val['question_info']['question_content']; ?></h3>
                                  <p class="graf--p graf-after--h3"><?php echo $this->question_info['question_detail']; ?></p>
                                </div>
                              </div>
                            </section>
                          </div>
                        </a>
                      </div>
                      <div class="postArticle-readMore">

                      </div>
                      <div class="u-clearfix u-paddingTop10">

                      </div>
                    </article>
                  </div>
                </div>
              </div>
            <?php } ?>
          <?php } else { ?>
            <p class="padding10 text-center"><?php _e('没有内容'); ?></p>
          <?php } ?>
          <!-- end 提问 -->

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var PEOPLE_USER_ID = '<?php echo $this->user['uid']; ?>';

    var ACTIVITY_ACTIONS = '<?php echo implode(',', array(
        ACTION_LOG::ADD_QUESTION,
        ACTION_LOG::ANSWER_QUESTION,
        ACTION_LOG::ADD_REQUESTION_FOCUS,
        ACTION_LOG::ADD_AGREE,
        ACTION_LOG::ADD_TOPIC,
        ACTION_LOG::ADD_TOPIC_FOCUS,
        ACTION_LOG::ADD_ARTICLE,
        ACTION_LOG::ADD_AGREE_ARTICLE,
        ACTION_LOG::ADD_COMMENT_ARTICLE
    )); ?>';
</script>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/people.js"></script>
