<?php TPL::output('global/header_less.tpl.htm'); ?>

<div class="u-foreground">
  <div class="js-profileHeaderBlock u-borderBottomGrayLightest u-boxShadowBottom">
    <div class="js-profileHeader u-backgroundWhite">
      <div class="container u-maxWidth640 u-paddingBottom30 u-xs-paddingBottom20 u-paddingTop20 u-backgroundWhite u-borderRadiusTop4 u-xs-borderRadiusTop0">
        <div class="label label--smaller u-inlineBlock js-followeesWhoFollow"></div>
        <header class="hero hero--profile">
          <div class="hero-avatar u-floatRight js-profileAvatar">
            <div class="avatar">
              <img src="<?php echo get_avatar_url($this->user['uid'], 'max'); ?>" class="avatar-image u-size100x100 u-xs-size80x80 imagePicker-target" alt="<?php echo $this->user['user_name']; ?>">
            </div>
          </div>
          <h1 class="hero-title">
            <a class="link link--darker link--darken u-accentColor--textDarken u-baseColor--link" href="＃" title="前往 <?php echo $this->user['user_name']; ?> 的个人主页" aria-label="前往 <?php echo $this->user['user_name']; ?> 的个人主页" dir="auto"><?php echo $this->user['user_name']; ?></a>
          </h1>
          <p class="hero-description"><?php echo $this->user['signature']; ?></p>
        </header>
        <div class="buttonSet buttonSet--profile u-noWrap">
          <button class="button button--chromeless u-baseColor--buttonNormal"><?php _e('关注 %s 人', '<b>' . $this->user['friend_count'] . '</b>'); ?></button>
          <button class="button button--chromeless u-baseColor--buttonNormal"><?php _e('被 %s 人关注', '<b">' . $this->user['fans_count'] . '</b>'); ?></button>
          <span class="middotDivider u-xs-hide"></span>
          <div class="buttonSet-inner u-xs-hide"></div>
        </div>
        <div class="buttonSet buttonSet--profile js-headerButtons u-inlineBlock">
          <?php if ($this->user['uid'] != $this->user_id AND $this->user_id) { ?>
            <span class="followState js-followState buttonSet-inner">
              <a href="javascript:;" class="button button--primary is-active u-noUserSelect button--withChrome u-accentColor--buttonNormal button--follow js-followButton" onclick="AWS.User.follow($(this), 'user', <?php echo $this->user['uid']; ?>);">
                <span class="button-label button-activeState"><?php if ($this->user_follow_check) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?></span>
              </a>
            </span>
          <?php } else if ($this->user_id == $this->user['uid']) { ?>
            <span class="followState js-followState buttonSet-inner">
              <a href="account/setting/profile/" class="button button--primary is-active u-noUserSelect button--withChrome u-accentColor--buttonNormal button--follow js-followButton">
                <span class="button-label button-activeState">编辑</span>
              </a>
              <a href="account/logout/" class="button">登出</a>
            </span>
          <?php } ?>
        </div>
      </div>
      <nav class="u-maxWidth640 container">
        <ul class="browsableStreamTabs u-borderTopLightest">
          <li class="browsableStreamTabs-item"><a class="link link--darken u-accentColor--textDarken u-baseColor--link" href="#overview" id="page_overview" data-toggle="tab">概括</a></li>
          <li class="browsableStreamTabs-item"><a class="link link--darken u-accentColor--textDarken u-baseColor--link" href="#answers" id="page_answers" data-toggle="tab">回答</a></li>
          <li class="browsableStreamTabs-item"><a class="link link--darken u-accentColor--textDarken u-baseColor--link" href="#questions" id="page_questions" data-toggle="tab">提问</a></li>
          <li class="browsableStreamTabs-item"><a class="link link--darken u-accentColor--textDarken u-baseColor--link" href="#articles" id="page_articles" data-toggle="tab">文章</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="js-moreStoriesLinkBlock"></div>

  <div class="aw-user-center-tab">
    <div class="tab-content">
      <div class="tab-pane active" id="overview">

        <!-- 详细资料 -->
        <div class="js-profileStreamBlock u-maxWidth640 u-marginAuto">
          <div class="streamItem streamItem--heading js-streamItem">
            <div class="streamItemHeading container u-maxWidth640">
              <div class="heading u-clearfix heading--streamSection">
                <div class="u-clearfix">
                  <div class="heading-content u-floatLeft">
                    <span class="heading-title heading-title--semibold">详细资料</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="streamItem streamItem--postPreview js-streamItem">
            <div class="streamItem-card streamItem-card--postPreview streamItem-card--hPadding20 streamItem-card--borderRadius3 cardChromeless">
              <div class="streamItem-cardInner streamItem-cardInner--postPreview">
                <div class="aw-mod">
                  <div class="mod-body">
                    <!-- aw-user-center-details -->
                    <?php if (get_setting('sina_weibo_enabled') == 'Y' AND $this->sina_weibo_url) { ?>
                      <dl>
                        <dt><span><?php _e('绑定认证'); ?>:</span></dt>
                        <?php if ($this->sina_weibo_url AND get_setting('sina_weibo_enabled') == 'Y') { ?><dd><a href="<?php if ($this->sina_weibo_url) { ?><?php echo $this->sina_weibo_url; ?><?php } else { ?>javascript:;<?php } ?>" class="text-color-999"><i class="icon icon-weibo"></i><?php _e('微博'); ?></a></dd><?php } ?>
                      </dl>
                    <?php } ?>
                      <dl>
                        <dt><span><?php _e('个人成就'); ?>:</span></dt>
                        <dd>
                          <p class="meta">
                            <span><i class="icon icon-agree"></i><?php _e('赞同'); ?>: <em class="aw-text-color-orange"><?php echo $this->user['agree_count']; ?></em></span>
                            <span><i class="icon icon-thank"></i><?php _e('感谢'); ?>: <em class="aw-text-color-orange"><?php echo $this->user['thanks_count']; ?></em></span>
                          </p>
                        </dd>
                      </dl>
                    <?php if ($this->user['area_name']) { ?>
                      <dl>
                        <dt><span><?php _e('现居'); ?>:</span></dt>
                        <dd><?php echo $this->user['area_name']; ?></dd>
                      </dl>
                    <?php } ?>
                    <?php if ($this->education_experience_list) { ?>
                      <dl>
                        <dt><span><?php _e('教育经历'); ?>:</span></dt>
                        <dd>
                          <ul>
                            <?php foreach($this->education_experience_list as $k => $v) { ?>
                            <li><?php echo $v['education_years']; ?> <?php _e('年'); ?> <?php _e('就读于%s', $v['school_name']); ?> <?php echo $v['departments']; ?></li>
                            <?php } ?>
                          </ul>
                        </dd>
                      </dl>
                    <?php } ?>
                    <?php if ($this->work_experience_list) { ?>
                      <dl>
                        <dt><span><?php _e('职业经历'); ?>:</span></dt>
                        <dd>
                          <ul>
                            <?php foreach($this->work_experience_list as $k => $v) { ?>
                              <li>
                                <?php echo $v['start_year']; ?> - <?php if ($v['end_year'] == -1) { ?><?php _e('至今'); ?><?php } else { ?><?php echo $v['end_year']; ?><?php } ?> <?php _e('就职于%s', $v['company_name']); ?> <?php if ($v['job_name']) { ?> <?php _e('担任 %s', $v['job_name']); ?> <?php } ?>
                              </li>
                            <?php } ?>
                          </ul>
                        </dd>
                      </dl>
                    <?php } ?>
                    <?php if ($this->user['last_active']) { ?>
                      <dl>
                        <dt><span><?php _e('最后活跃'); ?>:</span></dt>
                        <dd><?php echo date_friendly($this->user['last_active']); ?></dd>
                      </dl>
                    <?php } ?>

                    <?php if ($this->reputation_topics) { ?>
                      <dl>
                        <dt><span><?php _e('擅长话题'); ?>:</span></dt>
                        <dd class="aw-user-center-details-good-topic">
                          <?php foreach ($this->reputation_topics AS $key => $val) { ?>
                            <div>
                              <span class="topic-tag">
                                <a href="topic/<?php echo $val['url_token']; ?>" class="text" data-id="<?php echo $val['topic_id']; ?>"><?php echo $val['topic_title']; ?></a>
                              </span>
                              <span>
                                <i class="icon icon-agree"></i> <?php echo $val['agree_count']; ?>&nbsp;&nbsp;
                                <i class="icon icon-thank"></i> <?php echo $val['thanks_count']; ?>
                              </span>
                            </div>
                          <?php } ?>
                        </dd>
                      </dl>
                    <?php } ?>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end 详细资料 -->

        <!-- 动态 -->
        <div class="js-profileStreamBlock u-maxWidth640 u-marginAuto">
          <div class="streamItem streamItem--heading js-streamItem">
            <div class="streamItemHeading container u-maxWidth640">
              <div class="heading u-clearfix heading--streamSection">
                <div class="u-clearfix">
                  <div class="heading-content u-floatLeft">
                    <span class="heading-title heading-title--semibold">动态</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="streamItem-card streamItem-card--compressedPostList streamItem-card--borderRadius3 cardChromeless">
            <div class="streamItem-cardInner streamItem-cardInner--compressedPostList">
              <div class="aw-mod">
                <div class="mod-body">
                    <div id="contents_user_actions"></div>
                </div>
                <div class="u-marginBottom25">
                  <!-- 加载更多内容 -->
                  <a class="aw-load-more-content" id="bp_user_actions_more">
                      <span><?php _e('更多'); ?></span>
                  </a>
                  <!-- end 加载更多内容 -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end 动态 -->

      </div>
      <div class="tab-pane" id="questions">
        <div class="js-profileStreamBlock u-maxWidth640 u-marginAuto">
          <div class="streamItem streamItem--heading js-streamItem">
            <div class="streamItemHeading container u-maxWidth640">
              <div class="heading u-clearfix heading--streamSection">
                <div class="u-clearfix">
                  <div class="heading-content u-floatLeft">
                    <span class="heading-title heading-title--semibold">提问</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="streamItem streamItem--postPreview js-streamItem">
            <div class="streamItem-card streamItem-card--postPreview streamItem-card--hPadding20 streamItem-card--borderRadius3 cardChromeless">
              <div class="streamItem-cardInner streamItem-cardInner--postPreview">
                <div class="aw-mod">
                  <div class="mod-body">
                    <div class="aw-profile-publish-list" id="contents_user_actions_questions"></div>
                  </div>
                  <div class="mod-footer">
                    <!-- 加载更多内容 -->
                    <a class="aw-load-more-content" id="bp_user_actions_questions_more">
                        <span><?php _e('更多'); ?></span>
                    </a>
                    <!-- end 加载更多内容 -->
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="answers">
        <div class="js-profileStreamBlock u-maxWidth640 u-marginAuto">
          <div class="streamItem streamItem--heading js-streamItem">
            <div class="streamItemHeading container u-maxWidth640">
              <div class="heading u-clearfix heading--streamSection">
                <div class="u-clearfix">
                  <div class="heading-content u-floatLeft">
                    <span class="heading-title heading-title--semibold">回答</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="streamItem streamItem--postPreview js-streamItem">
            <div class="streamItem-card streamItem-card--postPreview streamItem-card--hPadding20 streamItem-card--borderRadius3 cardChromeless">
              <div class="streamItem-cardInner streamItem-cardInner--postPreview">
                <article class="postArticle postArticle--short js-postArticle js-trackedPost">
                  <div class="aw-mod">
                    <div class="mod-body">
                      <div class="aw-profile-answer-list" id="contents_user_actions_answers"></div>
                    </div>
                    <div class="mod-footer">
                      <!-- 加载更多内容 -->
                      <a class="aw-load-more-content" id="bp_user_actions_answers_more">
                          <span><?php _e('更多'); ?></span>
                      </a>
                      <!-- end 加载更多内容 -->
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane" id="articles">
        <div class="js-profileStreamBlock u-maxWidth640 u-marginAuto">
          <div class="streamItem streamItem--heading js-streamItem">
            <div class="streamItemHeading container u-maxWidth640">
              <div class="heading u-clearfix heading--streamSection">
                <div class="u-clearfix">
                  <div class="heading-content u-floatLeft">
                    <span class="heading-title heading-title--semibold">文章</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="streamItem streamItem--postPreview js-streamItem">
            <div class="streamItem-card streamItem-card--postPreview streamItem-card--hPadding20 streamItem-card--borderRadius3 cardChromeless">
              <div class="streamItem-cardInner streamItem-cardInner--postPreview">
                <article class="postArticle postArticle--short js-postArticle js-trackedPost">
                  <div class="aw-mod">
                    <div class="mod-body">
                        <div class="aw-profile-publish-list" id="contents_user_actions_articles"></div>
                    </div>
                    <div class="mod-footer">
                        <!-- 加载更多内容 -->
                        <a class="aw-load-more-content" id="bp_user_actions_articles_more">
                            <span><?php _e('更多'); ?></span>
                        </a>
                        <!-- end 加载更多内容 -->
                    </div>
                </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
    var PEOPLE_USER_ID = '<?php echo $this->user['uid']; ?>';

    var ACTIVITY_ACTIONS = '<?php echo implode(',', array(
        ACTION_LOG::ADD_QUESTION,
        ACTION_LOG::ANSWER_QUESTION,
        ACTION_LOG::ADD_REQUESTION_FOCUS,
        ACTION_LOG::ADD_AGREE,
        ACTION_LOG::ADD_TOPIC,
        ACTION_LOG::ADD_TOPIC_FOCUS,
        ACTION_LOG::ADD_ARTICLE,
        ACTION_LOG::ADD_AGREE_ARTICLE,
        ACTION_LOG::ADD_COMMENT_ARTICLE
    )); ?>';
</script>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/people.js"></script>

<?php TPL::output('global/footer.tpl.htm'); ?>
