<?php TPL::output('global/header.tpl.htm'); ?>
<div class="homeContainer js-homepage u-backgroundGrayLightest u-clearfix">

	<?php if ($this->user_id) { ?>
		<?php TPL::output('block/content_nav_menu.tpl.htm'); ?>
	<?php } else { ?>
		<div class="promo promo--hero u-xs-backgroundImageNone u-maxWidth1000 u-marginAuto promo--catalogHomeHero js-promo">
			<div class="promo-content u-maxWidth1000 u-marginAuto">
				<h1 class="promo-title">玩游戏的人都是我的朋友</h1>
				<h2 class="promo-subtitle">希望 R2VG 这个网站能够陪伴大家度过大量美好的马桶和游戏的时光！</h2>
				<h3 class="promo-text">登录提问或是解答其他人的疑问</h3>
				<div class="buttonSet">
					<a class="button button--filled button--large button--withChrome u-baseColor--buttonNormal" href="account/login/">立即加入</a>
					<a class="button button--primary button--large button--withChrome u-accentColor--buttonNormal" href="https://r2vg.com/article/1">了解更多</a>
				</div>
			</div>
		</div>
	<?php } ?>

	<div class="homeContainer-content u-maxWidth1000 u-marginAuto u-clearfix u-sizeViewHeightMin100">
		<div class="u-clearfix u-relative">

			<div class="homeContainer-stream">
				<div class="js-homeStream">
					<?php echo $this->posts_list_bit; ?>
				</div>
			</div>

			<div class="sidebar">
				<div class="sidebar-contentWrapper sidebar-contentWrapper2">
					<div class="sidebar-contentWrapper">
						<?php TPL::output('block/sidebar_feature.tpl.htm'); ?>
						<?php TPL::output('block/sidebar_hot_topics.tpl.htm'); ?>
						<?php TPL::output('block/sidebar_hot_users.tpl.htm'); ?>
					</div>
					<?php TPL::output('block/sidebar_footer.tpl.htm'); ?>
				</div>
			</div>

		</div>
	</div>

</div>

<?php TPL::output('global/footer.tpl.htm'); ?>
