<?php TPL::output('global/header.tpl.htm'); ?>
<div class="u-backgroundGrayLightest" style="height: 100vh;">

	<div class="container u-maxWidth1000">
		<div class="row">
			<div class="col u-size8of12 u-sm-size12of12">

				<div class="blockGroup blockGroup--posts js-blockGroupPosts blockGroup--inset blockGroup--list">
					<div class="blockGroup-list layoutSingleColumn">
						<a name="c_contents"></a>
						<div class="aw-mod clearfix">

							<div class="hero hero--standalone hero--alignLeft u-paddingTop40 u-paddingBottom20">
								<h1 class="hero-title" id="main_title"><?php _e('最新动态'); ?></h1>
							</div>
							<!-- 动态页导航 -->
							<div class="heading u-clearfix u-marginBottom25">
								<div class="u-clearfix">
									<div class="aw-mod heading-content u-floatLeft side-nav">
										<ul class="heading-tabs">
											<li class="heading-tabsItem u-inlineBlock">
												<span class="heading-title u-inlineBlock"><a class="button button--unstyled" href="home/#all" rel="all">最新动态</a></span>
											</li>
											<li class="heading-tabsItem u-inlineBlock">
												<span class="heading-title u-inlineBlock"><a class="button button--unstyled" href="home/#draft_list__draft" rel="draft_list__draft">草稿</a></span>
											</li>
											<li class="heading-tabsItem u-inlineBlock">
												<span class="heading-title u-inlineBlock"><a class="button button--unstyled" href="home/#all__focus" rel="all__focus">我关注的问题</a></span>
											</li>
											<li class="heading-tabsItem u-inlineBlock">
												<span class="heading-title u-inlineBlock"><a class="button button--unstyled" href="home/#focus_topic__focus" rel="all__focus">我关注的问题</a></span>
											</li>
											<li class="heading-tabsItem u-inlineBlock">
												<span class="heading-title u-inlineBlock"><a class="button button--unstyled" href="home/#focus_topic__focus" rel="focus_topic__focus">我关注的话题</a></span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end 动态页标题 -->
							<div class="mod-body aw-feed-list clearfix" id="main_contents"></div>

							<div class="mod-footer">
								<!-- 加载更多内容 -->
								<a id="bp_more" class="aw-load-more-content" data-page="0">
									<span><?php _e('更多'); ?></span>
								</a>
								<!-- end 加载更多内容 -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col u-size4of12 u-sm-hide aw-side-bar">
				<div class="u-marginTop40">
					<?php TPL::output('block/sidebar_recommend_users_topics.tpl.htm'); ?>
				</div>
			</div>
		</div>
	</div>
</div>

<?php if ($_GET['first_login'] && $this->user_info['is_first_login'] == 1) { ?>
<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/fileupload.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	$.get(G_BASE_URL+'/account/ajax/welcome_message_template/', function (template) {
		$('#aw-ajax-box').html(template);
		$('body').addClass('modal-open');
		welcome_step('1');
	});
});
</script>
<?php } ?>

<?php TPL::output('global/footer.tpl.htm'); ?>
