<?php TPL::output('global/header.tpl.htm'); ?>
<div class="homeContainer js-homepage u-backgroundGrayLightest u-clearfix">
	<div class="u-foreground homeContainer-content u-maxWidth1000 u-marginAuto u-clearfix u-sizeViewHeightMin100">
		<div class="u-clearfix u-relative">
			<div class="homeContainer-stream">
				<div class="homeContainer-header">
					<div class="homeContainer-headerDescription">
						动态
						<span class="homeContainer-topStoriesNav">
							<a class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--withIconAndLabel button--withSvgIcon homeContainer-topStoriesPreviousDay" href="home/#all" rel="all">
								<span class="button-label">最新</span>
							</a>
							<span class="middotDivider"></span>
							<a class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--withIconAndLabel button--withSvgIcon homeContainer-topStoriesPreviousDay" href="home/#draft_list__draft" rel="draft_list__draft">
								<span class="button-label">草稿</span>
							</a>
							<span class="middotDivider"></span>
							<a class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--withIconAndLabel button--withSvgIcon homeContainer-topStoriesPreviousDay" href="home/#all__focus" rel="all__focus">
								<span class="button-label">我关注的问题</span>
							</a>
							<span class="middotDivider"></span>
							<a class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--withIconAndLabel button--withSvgIcon homeContainer-topStoriesPreviousDay" href="home/#focus_topic__focus" rel="focus_topic__focus">
								<span class="button-label">我关注的标签</span>
							</a>
						</span>
					</div>
				</div>
				<div class="js-homeStream">
					<div class="mod-body aw-feed-list clearfix" id="main_contents"></div>
				</div>
			</div>
			<div class="sidebar">
				<div class="sidebar-contentWrapper">
					<?php TPL::output('block/sidebar_recommend_users_topics.tpl.htm'); ?>
				</div>
			</div>
		</div>
	</div>
</div>

<?php if ($_GET['first_login'] && $this->user_info['is_first_login'] == 1) { ?>
<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/fileupload.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	$.get(G_BASE_URL+'/account/ajax/welcome_message_template/', function (template) {
		$('#aw-ajax-box').html(template);
		$('body').addClass('modal-open');
		welcome_step('1');
	});
});
</script>
<?php } ?>

<?php TPL::output('global/footer.tpl.htm'); ?>
