<?php if (is_array($this->list)) { ?>
	<?php foreach ($this->list AS $key => $val) { ?>
		<div class="compressedPostListItem js-trackedPost  compressedPostListItem--withImage">
			<div class="compressedPostListItem-content">
				<div class="compressedPostListItem-social"></div>
				<div class="compressedPostListItem-title">
					<a class="link link--primary u-accentColor--hoverTextNormal" href="<?php echo $val['link']; ?>"><?php echo $val['title']; ?></a>
					<p class="text-color-999"><?php echo cjk_substr($val['answer_info']['answer_content'], 0, 130, 'UTF-8', '...'); ?></p>
				</div>
				<div class="compressedPostListItem-postMeta">
					<span class="compressedPostListItem-author">
						<span class="aw-border-radius-5 count pull-left"><i class="icon icon-agree"></i><?php echo $val['answer_info']['agree_count']; ?></span>
						<p class="text-color-999"><?php echo date_friendly($val['answer_info']['add_time']); ?></p>
					</span>
				</div>
			</div>
		</div>
	<?php } ?>
<?php } ?>
