<?php TPL::output('global/header_less.tpl.htm'); ?>
<div class="u-backgroundWhite u-sizeViewHeightMin100">

	<div class="container u-maxWidth1040">

		<header class="hero hero--standalone hero--compact hero--alignLeft u-clearfix u-maxWidth1040">
			<h1 class="hero-title">私信</h1>
			<div class="buttonSet u-floatRight">
				<a class="button button--withChrome u-baseColor--buttonNormal" href="account/setting/privacy/#!inbox">私信设置</a>
				<a class="button button--primary button--withChrome u-accentColor--buttonNormal" href="javascript:;" onclick="AWS.dialog('inbox', '');">新私信</a>
			</div>
		</header>

		<div class="u-backgroundWhite u-foreground">
			<div class="u-marginBottom100">
				<div class="blockGroup blockGroup--compact blockGroup--inset blockGroup--list js-blockGroupPosts">
					<div class="blockGroup-list container u-maxWidth1040">
						<?php if ($this->list) { ?>
							<?php foreach($this->list AS $key => $val) { ?>
								<div class="block block--list block--inset postItem block--withoutImage <?php if ($val['unread'] > 0) { ?> active<?php } ?>">
									<div class="block-firefoxPositioningContainerHack">
										<div class="block-content">
											<h3 class="block-title u-contentSansBold"><a href="inbox/read/<?php echo $val['id']; ?>"><?php echo $val['last_message']; ?></a></h3>
											<span class="block-line"></span>
											<div class="u-clearfix u-marginTop5 postMetaLockup--authorWithBio">
												<a class="aw-user-name" data-id="<?php echo $val['uid']; ?>" href="people/<?php echo $val['url_token']; ?>"><?php echo $val['user_name']; ?></a>
												<span class="middotDivider"></span>
												<a class="link link--darken link--accent" href="inbox/read/<?php echo $val['id']; ?>">
													<?php if ($val['unread']) { ?>
														<?php _e('有'); ?> <?php echo $val['unread']; ?> <?php _e('条新回复'); ?>
													<?php } else { ?>
														<?php _e('共 %s 条对话', $val['count']); ?>
													<?php } ?>
												</a>
												<span class="middotDivider"></span>
												<a href="javascript:;" class="text-color-999" onclick="AWS.dialog('confirm', {'message' : '<?php _e('确认删除对话'); ?>?'}, function(){window.location = G_BASE_URL + '/inbox/delete_dialog/dialog_id-<?php echo $val['id']; ?>'});"><?php _e('删除'); ?></a>
												<span class="middotDivider"></span>
												<span class="postMetaInline js-postEditedRelative"><?php echo date_friendly($val['update_time']); ?></span>
											</div>
										</div>
									</div>
								</div>
							<?php } ?>
						<?php } ?>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<?php TPL::output('global/footer.tpl.htm'); ?>
