<?php TPL::output('global/header_less.tpl.htm'); ?>

<div class="u-backgroundWhite">
	<div class="container u-maxWidth1040">
		<header class="hero hero--standalone hero--compact hero--alignLeft u-clearfix u-maxWidth1040">
			<h1 class="hero-title">@<?php echo $this->recipient_user['user_name']; ?></h1>
			<div class="buttonSet u-floatRight">
				<a class="button button--withChrome u-baseColor--buttonNormal" href="inbox/">返回私信列表</a>
			</div>
		</header>
	</div>
</div>

<div class="u-backgroundGrayLightest">
	<div class="responsesWrapper">
		<div class="container u-maxWidth740">
			<div class="responsesStreamWrapper u-maxWidth640">
				<div class="container u-maxWidth640 responsesStream-title u-paddingTop15">
					<div class="row"><div class="col u-size12of12"><div class="heading u-clearfix"><div class="u-clearfix"><div class="heading-content u-floatLeft"><span class="heading-title heading-title--semibold">回复</span></div></div></div></div></div>
				</div>
				<div class="container u-maxWidth640 u-marginBottom30 responsesStream-editor cardChromeless">
					<div class="row">
						<div class="col u-size12of12">
							<form action="inbox/ajax/send/" method="post" id="recipient_form">
								<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
	        			<input type="hidden" name="recipient" value="<?php echo $this->recipient_user['user_name']; ?>" />
								<div class="block">
									<div class="inlineEditor-header">
										<div class="inlineEditor-avatar u-paddingRight10">
                      <div class="avatar avatar--inline">
                        <img class="avatar-image u-size36x36 u-xs-size32x32" src="<?php echo get_avatar_url($this->user_info['uid'], 'max'); ?>">
                      </div>
											<div class="inlineEditor-headerContent">
                        <div class="inlineEditor-author u-accentColor--textNormal"><?php echo $this->user_info['user_name']; ?></div>
                      </div>
                    </div>
									</div>
									<div class="block-streamText">
										<div class="block-content">
											<article class="postArticle postArticle--short">
												<div class="u-maxWidth600">
													<textarea rows="3" name="message" id="comment_editor" class="form-control autosize" placeholder="想要对ta说点什么..." style="overflow: hidden; word-wrap: break-word; resize: none; height: 74px;"></textarea>
												</div>
											</article>
										</div>
									</div>
									<div class="inlineEditor-actions">
										<div class="u-floatLeft">
											<a href="javascript:;" onclick="AWS.ajax_post($('#recipient_form'));" class="button button--primary button--withChrome u-accentColor--buttonNormal btn-submit btn-reply">发送</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- 聊天记录 -->

				<div class="streamItemConversation container u-maxWidth660">
					<div class="streamItemConversation-divider"></div>
					<div class="heading u-clearfix heading--light heading--simple">
						<div class="u-clearfix">
							<div class="heading-content u-floatLeft">
								<span class="heading-title">聊天记录</span>
							</div>
						</div>
					</div>
					<!-- 聊天气泡 -->
					<a name="contents"></a>
					<ul>
						<?php if ($this->list) { ?>
						<?php foreach($this->list AS $key => $val) { ?>
						<li class="row streamItemConversation-inner cardChromeless streamItemConversationItem">
							<div class="u-clearfix u-marginBottom10">
								<div class="postMetaInline u-floatLeft">
			            <div class="postMetaInline-avatar">
			              <a href="people/<?php if ($val['uid'] == $this->user_id) { ?><?php echo $this->user_info['url_token']; ?><?php } else { ?><?php echo $val['url_token']; ?><?php } ?>" data-id="<?php echo $val['uid']; ?>" class="aw-user-img link avatar u-baseColor--link"><img src="<?php echo get_avatar_url($val['uid'], 'max'); ?>" alt="" class="avatar-image u-size36x36 u-xs-size32x32" /></a>
			            </div>
			            <div class="postMetaInline-authorLockup">
										<a class="link link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken u-baseColor--link" href="people/<?php if ($val['uid'] == $this->user_id) { ?><?php echo $this->user_info['url_token']; ?><?php } else { ?><?php echo $val['url_token']; ?><?php } ?>"><?php if ($val['uid'] == $this->user_id) { ?><?php _e('我'); ?><?php } else { ?><?php echo $val['user_name']; ?><?php } ?></a>
			              <div class="u-fontSizeSmallest u-baseColor--textNormal u-textColorNormal js-postMetaInlineSupplemental">
			                <?php echo date_friendly($val['add_time']); ?><?php if ($val['receipt'] AND $val['uid'] == $this->user_id) { ?> (<?php _e('对方于 %s 已读', date_friendly($val['receipt'])); ?>)<?php } ?>
			              </div>
			            </div>
			          </div>
							</div>
							<div class="layoutSingleColumn">
								<?php echo nl2br($val['message']); ?>
							</div>
						</li>
						<?php } ?>
						<?php } ?>
					</ul>
					<!-- end 聊天气泡 -->
				</div>
				<!-- end 聊天记录 -->
			</div>
		</div>
	</div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>
