<?php TPL::output('global/header-less.tpl.htm'); ?>
<div class="screenContent">
	<div class="settings container u-maxWidth740">
		<div class="hero hero--standalone hero--alignLeft"><h1 class="hero-title">设置</h1></div>

		<form id="setting_form" method="post" action="account/ajax/profile_setting/">
			<!-- 邮箱设置 -->
			<div class="heading u-clearfix heading--borderedBottom"><div class="u-clearfix"><div class="heading-content u-floatLeft"><span class="heading-title">账号</span></div></div></div>
			<div class="list u-marginBottom50">
				<!-- 电子邮箱 -->
				<section class="list-item list-item--padded">
					<div class="list-itemInfo">
						<h2 class="list-itemTitle">电子邮箱</h2>
						<input class="list-itemInput list-itemInput--wide js-emailSettingsInput" type="email" value="<?php echo $this->user_info['email']; ?>" disabled="">
					</div>
					<?php if ($this->user_info['valid_email'] == 0) { ?>
						<div class="list-itemActions">
							<a class="button" onclick="AWS.ajax_request(G_BASE_URL + '/account/ajax/send_valid_mail/');">重发验证邮件</a>
						</div>
					<?php } ?>
				</section>
				<!-- end 电子邮箱 -->
			</div>
			<!-- end 邮箱设置 -->

			<!-- 个人资料 -->
			<div class="heading u-clearfix heading--borderedBottom"><div class="u-clearfix"><div class="heading-content u-floatLeft"><span class="heading-title">个人资料</span></div></div></div>
			<div class="list u-marginBottom50">
				<!-- 昵称 -->
				<section class="list-item list-item--padded">
					<div class="list-itemInfo">
						<h2 class="list-itemTitle">昵称</h2>
						<span class="list-itemInputPrefix u-noUserSelect">http://r2vg.com/people/</span><input class="list-itemInput list-itemInput--username" maxlength="15" disabled="" value="<?php echo $this->user_info['user_name']; ?>"><span class="list-itemStatus js-usernameSettingsItem"></span>
					</div>
				</section>
				<!-- end 昵称 -->
				<!-- 介绍 -->
				<section class="list-item list-item--padded">
					<div class="list-itemInfo">
						<h2 class="list-itemTitle">介绍</h2>
						<input class="list-itemInput" name="signature" maxlength="128" type="text" value="<?php echo $this->user_info['signature']; ?>"<?php if ($this->user_info['verified']) { ?> disabled="disabled"<?php } ?> />
					</div>
				</section>
				<!-- end 介绍 -->
			</div>
			<!-- end 个人资料 -->
		</form>

		<a href="javascript:;" class="button button--primary" onclick="AWS.ajax_post($('#setting_form'));"><?php _e('保存'); ?></a>
		<div class="u-paddingBottom30"></div>

	</div>
</div>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/setting.js"></script>
